---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Facprof:oso%2F9780199681624.001.0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,11,2]],"date-time":"2023-11-02T10:47:36Z","timestamp":1698922056468},"reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780199681624","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2013,9,26]]},"DOI":"10.1093\/acprof:oso\/9780199681624.001.0001","type":"monograph","created":{"date-parts":[[2014,1,27]],"date-time":"2014-01-27T13:54:04Z","timestamp":1390830844000},"source":"Crossref","is-referenced-by-count":26,"title":["The
        Nature and Origin of Language"],"prefix":"10.1093","author":[{"given":"Denis","family":"Bouchard","sequence":"first","affiliation":[]}],"member":"286","container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T23:39:33Z","timestamp":1659483573000},"score":1,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/book\/8112"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2013,9,26]]},"ISBN":["9780199681624"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/acprof:oso\/9780199681624.001.0001","relation":{},"published":{"date-parts":[[2013,9,26]]}}}'
  recorded_at: Tue, 19 Mar 2024 03:24:32 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2BNature%2Band%2BOrigin%2Bof%2BLanguage%2B2013%2BOxford%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1637488,"items":[{"indexed":{"date-parts":[[2022,10,15]],"date-time":"2022-10-15T04:40:43Z","timestamp":1665808843857},"edition-number":"1","reference-count":0,"publisher":"Cambridge
        University Press","license":[{"start":{"date-parts":[[2014,10,5]],"date-time":"2014-10-05T00:00:00Z","timestamp":1412467200000},"content-version":"unspecified","delay-in-days":374,"URL":"https:\/\/www.cambridge.org\/core\/terms"},{"start":{"date-parts":[[2014,10,5]],"date-time":"2014-10-05T00:00:00Z","timestamp":1412467200000},"content-version":"unspecified","delay-in-days":374,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2013,9,26]]},"DOI":"10.1017\/cbo9781139856294.015","type":"book-chapter","created":{"date-parts":[[2014,10,5]],"date-time":"2014-10-05T05:33:26Z","timestamp":1412487206000},"page":"278-309","source":"Crossref","is-referenced-by-count":0,"title":["NATURE
        AND ORIGIN OF LANGUAGE"],"prefix":"10.1017","member":"56","container-title":["The
        Life and Growth of Language"],"link":[{"URL":"https:\/\/www.cambridge.org\/core\/services\/aop-cambridge-core\/content\/view\/2BBDEC77543E777C20AABF1E6D54409B","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,10,15]],"date-time":"2022-10-15T04:18:56Z","timestamp":1665807536000},"score":28.014389,"resource":{"primary":{"URL":"https:\/\/www.cambridge.org\/core\/product\/identifier\/CBO9781139856294A019\/type\/book_part"}},"issued":{"date-parts":[[2013,9,26]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/cbo9781139856294.015","published":{"date-parts":[[2013,9,26]]}},{"indexed":{"date-parts":[[2022,8,3]],"date-time":"2022-08-03T00:15:[...]
