---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2F978-1-4471-1578-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T20:56:44Z","timestamp":1648673804636},"publisher-location":"London","reference-count":0,"publisher":"Springer
        London","isbn-type":[{"value":"9783540762430","type":"print"},{"value":"9781447115786","type":"electronic"}],"license":[{"start":{"date-parts":[[1998,1,1]],"date-time":"1998-01-01T00:00:00Z","timestamp":883612800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1998]]},"DOI":"10.1007\/978-1-4471-1578-6","type":"book","created":{"date-parts":[[2011,12,30]],"date-time":"2011-12-30T00:55:02Z","timestamp":1325206502000},"source":"Crossref","is-referenced-by-count":28,"title":["Wide
        Area Workflow Management"],"prefix":"10.1007","author":[{"given":"Gerold","family":"Riempp","sequence":"first","affiliation":[]}],"member":"297","container-title":["Computer
        Supported Cooperative Work"],"original-title":[],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4471-1578-6.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4471-1578-6","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,4,5]],"date-time":"2019-04-05T19:23:56Z","timestamp":1554492236000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4471-1578-6"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1998]]},"ISBN":["9783540762430","9781447115786"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-1-4471-1578-6","relation":{},"ISSN":["1431-1496"],"issn-type":[{"value":"1431-1496","type":"print"}],"published":{"date-parts":[[1998]]}}}'
  recorded_at: Mon, 19 Dec 2022 21:36:20 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Computer%20Supported%20Cooperative%20Work,%20Springer%20London,%20London,%201998%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":49308,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T17:58:44Z","timestamp":1648663124310},"publisher-location":"London","reference-count":0,"publisher":"Springer
        London","isbn-type":[{"value":"9783540762430","type":"print"},{"value":"9781447115786","type":"electronic"}],"license":[{"start":{"date-parts":[[1998,1,1]],"date-time":"1998-01-01T00:00:00Z","timestamp":883612800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{[...]
