---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1017%2Fisbn-9780511132971.eh132-135
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,4,27]],"date-time":"2024-04-27T10:21:09Z","timestamp":1714213269298},"publisher-location":"New
        York, USA","reference-count":0,"publisher":"Cambridge University Press","isbn-type":[{"value":"0511132972","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1017\/isbn-9780511132971.eh132-135","type":"book-track","created":{"date-parts":[[2007,3,6]],"date-time":"2007-03-06T12:18:55Z","timestamp":1173183535000},"page":"5-795-5-795","source":"Crossref","is-referenced-by-count":0,"title":["Wholesale
        commodity price indexes in Richmond, the eastern Confederacy, New York, and
        San Francisco: 1861-1865"],"prefix":"10.1017","member":"56","container-title":["Historical
        Statistics of the United States"],"original-title":[],"language":"en","deposited":{"date-parts":[[2013,12,16]],"date-time":"2013-12-16T23:08:32Z","timestamp":1387235312000},"score":1,"resource":{"primary":{"URL":"http:\/\/hsus.cambridge.org\/HSUSWeb\/toc\/tableToc.do?id=Eh132-135"}},"subtitle":[],"editor":[{"given":"Roger
        L.","family":"Ransom","sequence":"first","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[null]]},"ISBN":["0511132972"],"references-count":0,"URL":"https:\/\/doi.org\/10.1017\/isbn-9780511132971.eh132-135","relation":{},"subject":[]}}'
  recorded_at: Wed, 11 Dec 2024 02:39:25 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Historical%20Statistics%20of%20the%20United%20States%202007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":73776,"items":[{"indexed":{"date-parts":[[2024,9,13]],"date-time":"2024-09-13T21:10:23Z","timestamp":1726261823982},"edition-number":"1","reference-count":0,"publisher":"Greenwood","isbn-type":[{"type":"electronic","value":"9798216972501"},{"type":"print","value":"9780313283093"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1993]]},"abstract":"<JATS1:p>This
        volume is a census-focused compilation of state-level population, agriculture,
        and manufacturing data for the fifty states and the District of Columbia.
        It also includes population figures for the largest 1990 cities from 1790
        to 1990. Thus it fills a gap in the historical statistics provided by the
        government publication,Historical Statistics of the United States(1975), which
        provides national statistics, and the county-level data compiled by the Interuniversity
        Consortium for Political and Social Research. In addition to the statistical
        tables, the volume includes a glossary explaining the different definitions
        used by the Census Bureau.<\/JATS1:p>","DOI":"10.5040\/9798216972501","type":"book","created":{"date-parts":[[2024,6,24]],"date-time":"2024-06-24T15:40:04Z","timestamp":1719243604000},"source":"Crossref","is-referenced-by-count":0,"title":["Historical
        Statistics of the States of the United States"],"prefix":"10.5040","author":[{"given":"Donald
        B.","family":"Dodd","sequence":"first","affiliation":[]}],"member":"2984","deposited":{"date-parts":[[2024,6,24]],"date-time":"2024-06-24T16:45:45Z","timestamp":1719247545000},"score":27.809282,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/encyclopedia?docid=b-9798216972501"}},"subtitle":["Two
        Centuries of the Census, 1790-1990"],"issued":{"date-parts":[[1993]]},"ISBN":["9798216972501","9780313283093"],"references-count":0,"URL":"https:\/\/doi.org\/10.5040\/9798216972501","published":{"date-parts":[[1993]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T22:06:15Z","timestamp":1648677975661},"publisher-location":"Washington,
        D.C. :","reference-count":0,"publisher":"United States Department of Agriculture,
        Agricultural Marketing Service","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1939]]},"DOI":"10.5962\/bhl.title.106635","type":"monograph","created":{"date-parts":[[2015,8,30]],"date-time":"2015-08-30T02:03:05Z","timestamp":1440900185000},"source":"Crossref","is-referenced-by-count":0,"title":["Annual
        report on tobacco statistics \/"],"prefix":"10.5962","author":[{"name":"United
        States.","sequence":"first","affiliation":[]},{"name":"United States.","sequence":"additional","affiliation":[]},{"name":"United
        States.","sequence":"additional","affiliation":[]}],"member":"3444","deposited":{"date-parts":[[2015,8,30]],"date-time":"2015-08-30T02:03:05Z","timestamp":1440900185000},"score":27.688519,"resource":{"primary":{"URL":"http:\/\/www.biodiversitylibrary.org\/bibliography\/106635"}},"issued":{"date-parts":[[1939]]},"references-count":0,"URL":"https:[...]
[...]
