---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1007%2F978-1-4471-1578-6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,6]],"date-time":"2024-09-06T18:41:57Z","timestamp":1725648117105},"publisher-location":"London","reference-count":0,"publisher":"Springer
        London","isbn-type":[{"type":"print","value":"9783540762430"},{"type":"electronic","value":"9781447115786"}],"license":[{"start":{"date-parts":[[1998,1,1]],"date-time":"1998-01-01T00:00:00Z","timestamp":883612800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1998]]},"DOI":"10.1007\/978-1-4471-1578-6","type":"book","created":{"date-parts":[[2011,12,30]],"date-time":"2011-12-30T05:55:02Z","timestamp":1325224502000},"source":"Crossref","is-referenced-by-count":29,"title":["Wide
        Area Workflow Management"],"prefix":"10.1007","author":[{"given":"Gerold","family":"Riempp","sequence":"first","affiliation":[]}],"member":"297","container-title":["Computer
        Supported Cooperative Work"],"original-title":[],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4471-1578-6.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-1-4471-1578-6","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,4,5]],"date-time":"2019-04-05T23:23:56Z","timestamp":1554506636000},"score":1,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-1-4471-1578-6"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1998]]},"ISBN":["9783540762430","9781447115786"],"references-count":0,"URL":"https:\/\/doi.org\/10.1007\/978-1-4471-1578-6","relation":{},"ISSN":["1431-1496"],"issn-type":[{"type":"print","value":"1431-1496"}],"subject":[],"published":{"date-parts":[[1998]]}}}'
  recorded_at: Wed, 11 Dec 2024 02:39:10 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Computer%20Supported%20Cooperative%20Work%201998
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":55037,"items":[{"indexed":{"date-parts":[[2024,9,6]],"date-time":"2024-09-06T18:41:57Z","timestamp":1725648117272},"publisher-location":"London","reference-count":0,"publisher":"Springer
        London","isbn-type":[{"type":"print","value":"9783540762430"},{"type":"electronic","value":"9781447115786"}],"license":[{"start":{"date-parts":[[1998,1,1]],"date-time":"1998-01-01T00:00:00Z","timestamp":883612800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"[...]
