---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1037%2F0000120-016
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T21:42:47Z","timestamp":1648590167995},"publisher-location":"Washington","reference-count":0,"publisher":"American
        Psychological Association","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2019]]},"DOI":"10.1037\/0000120-016","type":"book-chapter","created":{"date-parts":[[2018,12,6]],"date-time":"2018-12-06T14:14:50Z","timestamp":1544105690000},"page":"345-359","source":"Crossref","is-referenced-by-count":6,"title":["Culinary
        arts: Talent and their development."],"prefix":"10.1037","author":[{"given":"Laurent","family":"Aron","sequence":"first","affiliation":[]},{"given":"Marion","family":"Botella","sequence":"additional","affiliation":[]},{"given":"Todd","family":"Lubart","sequence":"additional","affiliation":[]}],"member":"15","container-title":["Psychology
        of high performance: Developing human potential into domain-specific talent."],"original-title":[],"link":[{"URL":"http:\/\/psycnet.apa.org\/books\/16096\/016.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,12,28]],"date-time":"2020-12-28T18:52:59Z","timestamp":1609181579000},"score":1,"resource":{"primary":{"URL":"http:\/\/content.apa.org\/books\/16096-016"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2019]]},"references-count":0,"alternative-id":["2018-59444-016","2018-59444-000"],"URL":"http:\/\/dx.doi.org\/10.1037\/0000120-016","relation":{},"published":{"date-parts":[[2019]]}}}'
  recorded_at: Sun, 11 Dec 2022 20:25:34 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Psychology%20of%20high%20performance:%20Developing%20human%20potential%20into%20domain-specific%20talent.,%20American%20Psychological%20Association,%20Washington,%202019%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":4182,"items":[{"indexed":{"date-parts":[[2022,11,2]],"date-time":"2022-11-02T07:07:38Z","timestamp":1667372858143},"publisher-location":"Washington","reference-count":0,"publisher":"American
        Psychological Association","isbn-type":[{"value":"1433829886","type":"print"},{"value":"1433830388","type":"print"},{"value":"9781433829888","type":"print"},{"value":"9781433830389","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1037\/0000120-000","type":"book","created":{"date-parts":[[2018,12,6]],"date-time":"2018-12-06T14:14:50Z","timestamp":1544105690000},"source":"Crossref","is-referenced-by-count":14,"title":["Psychology
        of high performance: Developing human potential into domain-specific talent."],"prefix":"10.1037","member":"15","deposited":{"date-parts":[[2020,12,28]],"date-time":"2020-12-28T18:52:38Z","timestamp":1609181558000},"score":58.099545,"resource":{"primary":{"URL":"http:\/\/content.apa.org\/books\/16096-000"}},"editor":[{"given":"Rena
        F.","family":"Subotnik","sequence":"first","affiliation":[]},{"given":"Paula","family":"Olszewski-Kubilius","sequence":"additional","affiliation":[]},{"given":"Frank
        C.","family":"Worrell","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2019]]},"ISBN":["1433829886","1433830388","9781433829888","9781433830389"],"references-count":0,"alternative-id":["2018-59444-000"],"URL":"http:\/\/dx.doi.org\/10.1037\/0000120-000","published":{"date-parts":[[2019]]}},{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T07:05:35Z","timestamp":1648796735944},"publisher-location":"New
        York","edition-number":"1","reference-count":0,"publisher":"Routledge","isbn-type":[{"value":"9781003238461","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.4324\/9781003238461","type":"book","created":{"date-parts":[[2021,9,14]],"date-time":"2021-09-14T09:37:28Z","timestamp":1631612248000},"source":"Crossref","is-referenced-by-count":0,"title":["Talent
        Development for English Language Learners"],"prefix":"10.4324","author":[{"given":"Michael
        S.","family":"Matthews","sequence":"first","affiliation":[]},{"given":"Jaime
        A.","family":"Castellano","sequence":"additional","affiliation":[]}],"member":"301","published-online":{"date-parts":[[2021,9,14]]},"deposited":{"date-parts":[[2021,9,14]],"date-time":"2021-09-14T09:37:29Z","timestamp":1631612249000},"score":25.020657,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781003238461"}},"subtitle":["Identifying
        and Developing Potential"],"issued":{"date-parts":[[2021,9,14]]},"ISBN":["9781003238461"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4324\/9781003238461","published":{"date-parts":[[2021,9,14]]}},{"indexed":{"date-parts":[[...]
