---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1787%2F20743300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,9,13]],"date-time":"2024-09-13T21:45:14Z","timestamp":1726263914059},"reference-count":0,"publisher":"OECD","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1787\/20743300","type":"book-series","created":{"date-parts":[[2009,7,9]],"date-time":"2009-07-09T12:17:29Z","timestamp":1247141849000},"source":"Crossref","is-referenced-by-count":1,"title":["Chemical
        Thermodynamics"],"prefix":"10.1787","member":"1963","container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2021,8,2]],"date-time":"2021-08-02T08:28:37Z","timestamp":1627892917000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.oecd-ilibrary.org\/nuclear-energy\/chemical-thermodynamics_20743300"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.1787\/20743300","relation":{},"ISSN":["2074-3300"],"issn-type":[{"type":"electronic","value":"2074-3300"}],"subject":[]}}'
  recorded_at: Wed, 11 Dec 2024 02:39:20 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Chemical%2BThermodynamics%2B2009%2BOECD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":764740,"items":[{"indexed":{"date-parts":[[2024,9,5]],"date-time":"2024-09-05T11:19:00Z","timestamp":1725535140457},"reference-count":0,"publisher":"OECD","isbn-type":[{"type":"electronic","value":"9789264056688"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2008,12,23]]},"DOI":"10.1787\/9789264056688-2-en","type":"book-chapter","created":{"date-parts":[[2009,7,9]],"date-time":"2009-07-09T12:17:29Z","timestamp":1247141849000},"page":"3-8","source":"Crossref","is-referenced-by-count":0,"title":["Introduction"],"prefix":"10.1787","author":[{"name":"OECD","sequence":"first","affiliation":[]},{"name":"Nuclear
        Energy Agency","sequence":"additional","affiliation":[]}],"member":"1963","container-title":["Chemical
        Thermodynamics","Chemical Thermodynamics of Thorium"],"language":"en","deposited":{"date-parts":[[2021,8,2]],"date-time":"2021-08-02T08:28:55Z","timestamp":1627892935000},"score":26.426992,"resource":{"primary":{"URL":"https:\/\/www.oecd-ilibrary.org\/nuclear-energy\/chemical-thermodynamics-of-thorium\/introduction_9789264056688-2-en"}},"issued":{"date-parts":[[2008,12,23]]},"ISBN":["9789264056688"],"references-count":0,"URL":"https:\/\/doi.org\/10.1787\/9789264056688-2-en","ISSN":["2074-3300"],"issn-type":[{"type":"electronic","value":"2074-3300"}],"published":{"date-parts":[[2008,12,23]]}},{"indexed":{"date-parts":[[2024,9,5]],"date-time":"2024-09-05T11:19:08Z","timestamp":1725535148574},"reference-count":0,"publisher":"OECD","isbn-type":[{"type":"electronic","value":"9789264056688"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2008,12,23]]},"DOI":"10.1787\/9789264056688-20-en","type":"book-chapter","created":{"date-parts":[[2009,7,9]],"date-time":"2009-07-09T08:17:29Z","timestamp":1247127449000},"pa[...]
