---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.14509%2F23007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:30:30Z","timestamp":1648978230774},"reference-count":0,"publisher":"Alaska
        Division of Geological & Geophysical Surveys","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14509\/23007","type":"book-section","created":{"date-parts":[[2014,5,16]],"date-time":"2014-05-16T06:40:21Z","timestamp":1400222421000},"source":"Crossref","is-referenced-by-count":0,"title":["High-resolution
        lidar data for infrastructure corridors, Wiseman Quadrangle, Alaska"],"prefix":"10.14509","author":[{"given":"T.
        D.","family":"Hubbard","sequence":"first","affiliation":[]},{"given":"M. L.","family":"Braun","sequence":"additional","affiliation":[]},{"given":"R.
        E.","family":"Westbrook","sequence":"additional","affiliation":[]},{"given":"P.
        E.","family":"Gallagher","sequence":"additional","affiliation":[]}],"member":"5626","container-title":["High-resolution
        lidar data for Alaska infrastructure corridors"],"original-title":[],"deposited":{"date-parts":[[2014,5,16]],"date-time":"2014-05-16T06:40:35Z","timestamp":1400222435000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dggs.alaska.gov\/pubs\/id\/23007"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"https:\/\/doi.org\/10.14509\/23007","relation":{},"subject":[]}}'
  recorded_at: Wed, 11 Dec 2024 02:39:18 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=High-resolution%2Blidar%2Bdata%2Bfor%2Binfrastructure%2Bcorridors,%2BWiseman%2BQuadrangle,%2BAlaska%2B2014%2BAlaska%2BDivision%2Bof%2BGeological%2B%26%2BGeophysical%2BSurveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1866,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:50:38Z","timestamp":1648950638960},"reference-count":0,"publisher":"Alaska
        Division of Geological & Geophysical Surveys","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.14509\/23007","type":"book-section","created":{"date-parts":[[2014,5,16]],"date-time":"2014-05-16T06:40:21Z","timestamp":1400222421000},"source":"Crossref","is-referenced-by-count":0,"title":["High-resolution
        lidar data for in[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=High-resolution%20lidar%20data%20for%20Alaska%20infrastructure%20corridors%202014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":92947,"items":[{"indexed":{"date-parts":[[2024,9,8]],"date-time":"2024-09-08T21:04:27Z","timestamp":1725829467910},"publisher-location":"Cham","reference-count":0,"publisher":"Springer
        International Publishing","isbn-type":[{"type":"print","value":"9783319163956"},{"type":"electronic","value":"9783319163963"}],"license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"},{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springernature.com\/gp\/researchers\/text-and-data-mining"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1007\/978-3-319-16396-3","type":"book","created":{"date-parts":[[2015,9,10]],"date-time":"2015-09-10T19:03:39Z","timestamp":1441911819000},"source":"Crossref","is-referenced-by-count":3,"title":["Mega
        Transport Infrastructure Planning"],"prefix":"10.1007","member":"297","language":"en","link":[{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-16396-3.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-319-16396-3","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,5,11]],"date-time":"2023-05-11T12:04:30Z","timestamp":1683806670000},"score":21.852367,"resource":{"primary":{"URL":"https:\/\/link.springer.com\/10.1007\/978-3-319-16396-3"}},"subtitle":["European
        Corridors in Local-Regional Perspective"],"editor":[{"given":"Sandro","family":"Fabbro","sequence":"first","affiliation":[]}],"issued":{"date-parts":[[2015]]},"ISBN":["9783319163956","9783319163963"],"references-count":0,"URL":"https:\/\/doi.org\/10.1007\/978-3-319-16396-3","published":{"date-parts":[[2015]]}},{"indexed":{"date-parts":[[2024,12,10]],"date-time":"2024-12-10T23:37:59Z","timestamp":1733873879913,"version":"3.30.1"},"reference-count":0,"publisher":"Dunod","isbn-type":[{"type":"print","value":"9782100517183"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.3917\/dunod.fusti.2014.01","type":"monograph","created":{"date-parts":[[2016,2,10]],"date-time":"2016-02-10T20:26:35Z","timestamp":1455135995000},"source":"Crossref","is-referenced-by-count":14,"title":["Les
        corridors du quotidien"],"prefix":"10.3917","author":[{"given":"Pa[...]
