---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1215%2F9781478007609-047
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.4 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:17:14Z","timestamp":1648977434248},"reference-count":0,"publisher":"Duke
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2020]]},"DOI":"10.1215\/9781478007609-047","type":"book-part","created":{"date-parts":[[2020,9,10]],"date-time":"2020-09-10T17:11:03Z","timestamp":1599757863000},"page":"177-179","source":"Crossref","is-referenced-by-count":0,"title":["Occupied
        Haiti (1915\u20131934)"],"prefix":"10.1215","member":"73","container-title":["The
        Haiti Reader"],"original-title":[],"deposited":{"date-parts":[[2020,9,11]],"date-time":"2020-09-11T15:48:41Z","timestamp":1599839321000},"score":1,"resource":{"primary":{"URL":"http:\/\/read.dukeupress.edu\/books\/book\/2710\/chapter\/2008410\/Occupied-Haiti-19151934"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2020]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1215\/9781478007609-047","relation":{},"published":{"date-parts":[[2020]]}}}'
  recorded_at: Sat, 20 May 2023 22:56:00 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=The%20Haiti%20Reader%202020
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":99274,"items":[{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T07:46:14Z","timestamp":1648885574189},"reference-count":0,"publisher":"Duke
        University Press","isbn-type":[{"value":"9781478007609","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,12,31]]},"DOI":"10.1515\/9781478007609","type":"book","created":{"date-parts":[[2020,9,9]],"date-time":"2020-09-09T19:56:46Z","timestamp":1599681406000},"source":"Crossref","is-referenced-by-count":0,"title":["The
        Haiti Reader"],"prefix":"10.1515","member":"374","published-online":{"date-parts":[[2020,9,2]]},"link":[{"URL":"https:\/\/www.degruyter.com\/view\/title\/582875","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9781478007609\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,20]],"date-time":"2021-04-20T13:27:21Z","timestamp":1618925241000},"score":24.998257,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9781478007609\/html"}},"subtitle":["History,
        Culture, Politics"],"editor":[{"given":"Laurent","family":"Dubois","sequence":"first","affiliation":[]},{"given":"Kaiama
        L.","family":"Glover","sequence":"additional","affiliation":[]},{"given":"Nad\u00e8ve","family":"M\u00e9nard","sequence":"additional","affiliation":[]},{"given":"Millery","family":"Polyn\u00e9","sequence":"additional","affiliation":[]},{"given":"Chantalle
        F.","family":"Verna","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2020,9,2]]},"ISBN":["9781478007609"],"references-count":0,"alternative-id":["10.1515\/9781478007609"],"URL":"http:\/\/dx.doi.org\/10.1515\/9781478007609","relation":{"is-identical-to":[{"id-type":"doi","id":"10.1215\/9781478007609","asserted-by":"subject"}]},"published":{"date-parts":[[2020,9,2]]}},{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T14:47:38Z","timestamp":1648910858706},"reference-count":0,"publisher":"Duke
        University Press","isbn-type":[{"value":"9781478007609","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1215\/9781478007609","type":"book","created":{"date-parts":[[2020,3,13]],"date-time":"2020-03-13T15:17:17Z","[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Occupied%2BHaiti%2B(1915%E2%80%931934)%2B2020%2BDuke%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
   [...]
