---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1017%2Fisbn-9780511132971.eh132-135
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T12:48:09Z","timestamp":1648558089512},"publisher-location":"New
        York, USA","reference-count":0,"publisher":"Cambridge University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1017\/isbn-9780511132971.eh132-135","type":"book-track","created":{"date-parts":[[2007,3,6]],"date-time":"2007-03-06T12:18:55Z","timestamp":1173183535000},"page":"5-795-5-795","source":"Crossref","is-referenced-by-count":0,"title":["Wholesale
        commodity price indexes in Richmond, the eastern Confederacy, New York, and
        San Francisco: 1861-1865"],"prefix":"10.1017","member":"56","container-title":["Historical
        Statistics of the United States"],"original-title":[],"deposited":{"date-parts":[[2013,12,16]],"date-time":"2013-12-16T23:08:32Z","timestamp":1387235312000},"score":1,"resource":{"primary":{"URL":"http:\/\/hsus.cambridge.org\/HSUSWeb\/toc\/tableToc.do?id=Eh132-135"}},"subtitle":[],"editor":[{"given":"Roger
        L.","family":"Ransom","sequence":"first","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1017\/isbn-9780511132971.eh132-135","relation":{}}}'
  recorded_at: Wed, 03 Apr 2024 15:06:45 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Historical%20Statistics%20of%20the%20United%20States%202007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":71080,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T22:06:15Z","timestamp":1648677975661},"publisher-location":"Washington,
        D.C. :","reference-count":0,"publisher":"United States Department of Agriculture,
        Agricultural Marketing Service","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1939]]},"DOI":"10.5962\/bhl.title.106635","type":"monograph","created":{"date-parts":[[2015,8,30]],"date-time":"2015-08-30T02:03:05Z","timestamp":1440900185000},"source":"Crossref","is-referenced-by-count":0,"title":["Annual
        report on tobacco statistics \/"],"prefix":"10.5962","author":[{"name":"United
        States.","sequence":"first","affiliation":[]},{"name":"United States.","sequence":"additional","affiliation":[]},{"name":"United
        States.","sequence":"additional","affiliation":[]}],"member":"3444","deposited":{"date-parts":[[2015,8,30]],"date-time":"2015-08-30T02:03:05Z","timestamp":1440900185000},"score":27.917147,"resource":{"primary":{"URL":"http:\/\/www.biodiversitylibrary.org\/bibliography\/106635"}},"issued":{"date-parts":[[1939]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.106635","published":{"date-parts":[[1939]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T16:55:22Z","timestamp":1649004922916},"publisher-location":"Washington,
        D.C. :","reference-count":0,"publisher":"Dept. of Commerce, National Oceanic
        and Atmospheric Administration, National Marine Fisheries Service :","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1979]]},"DOI":"10.5962\/bhl.title.4009","type":"monograph","created":{"date-parts":[[...]
[...]
