---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.14509%2F23007
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:30:30Z","timestamp":1648978230774},"reference-count":0,"publisher":"Alaska
        Division of Geological & Geophysical Surveys","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.14509\/23007","type":"book-section","created":{"date-parts":[[2014,5,16]],"date-time":"2014-05-16T06:40:21Z","timestamp":1400222421000},"source":"Crossref","is-referenced-by-count":0,"title":["High-resolution
        lidar data for infrastructure corridors, Wiseman Quadrangle, Alaska"],"prefix":"10.14509","author":[{"given":"T.
        D.","family":"Hubbard","sequence":"first","affiliation":[]},{"given":"M. L.","family":"Braun","sequence":"additional","affiliation":[]},{"given":"R.
        E.","family":"Westbrook","sequence":"additional","affiliation":[]},{"given":"P.
        E.","family":"Gallagher","sequence":"additional","affiliation":[]}],"member":"5626","container-title":["High-resolution
        lidar data for Alaska infrastructure corridors"],"original-title":[],"deposited":{"date-parts":[[2014,5,16]],"date-time":"2014-05-16T06:40:35Z","timestamp":1400222435000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.dggs.alaska.gov\/pubs\/id\/23007"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.14509\/23007","relation":{}}}'
  recorded_at: Sun, 15 Jan 2023 19:23:01 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=High-resolution%20lidar%20data%20for%20Alaska%20infrastructure%20corridors%202014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":83625,"items":[{"indexed":{"date-parts":[[2022,7,3]],"date-time":"2022-07-03T08:46:26Z","timestamp":1656837986618},"reference-count":0,"publisher":"Dunod","isbn-type":[{"value":"9782100517183","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.3917\/dunod.fusti.2014.01","type":"monograph","created":{"date-parts":[[2016,2,10]],"date-time":"2016-02-10T20:26:35Z","timestamp":1455135995000},"source":"Crossref","is-referenced-by-count":10,"title":["Les
        corridors du quotidien"],"prefix":"10.3917","author":[{"given":"Paul","family":"Fustier","sequence":"first","affiliation":[]}],"member":"2273","deposited":{"date-parts":[[2019,4,17]],"date-time":"2019-04-17T22:45:12Z","timestamp":1555541112000},"score":20.373037,"resource":{"primary":{"URL":"http:\/\/www.cairn.info\/les-corridors-du-quotidien--9782100517183.htm"}},"issued":{"date-parts":[[2014]]},"ISBN":["9782100517183"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.3917\/dunod.fusti.2014.01","published":{"date-parts":[[2014]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T15:10:51Z","timestamp":1649171451044},"reference-count":0,"publisher":"The
        World Bank","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,11]]},"DOI":"10.1596\/1813-9450-7091","type":"book","created":{"date-parts":[[2014,12,16]],"date-time":"2014-12-16T21:47:14Z","timestamp":1418766434000},"source":"Crossref","is-referenced-by-count":3,"title":["Protected
        Areas and Deforestation: New Results from High Resolution Panel Data"],"prefix":"10.1596","author":[{"given":"Brian","family":"Blankespoor","sequence":"first","affiliation":[]},{"given":"Susmita","family":"Dasgupta","sequence":"additional","affiliation":[]},{"given":"David","family":"Wheeler","sequence":"additional","affiliation":[]}],"member":"558","container-title":["Policy
        Research Working Papers"],"deposited":{"date-parts":[[2014,12,16]],"date-time":"2014-12-16T21:47:18Z","timestamp":1418766438000},"score":19.640312,"resource":{"primary":{"URL":"http:\/\/elibrary.worldbank.org\/doi\/book\/10.1596\/1813-9450-7091"}},"issued":{"date-parts":[[2014,11]]},"references-count":0,"alternative-id":["10.1596\/1813-9450-7091","10.1596\/prwp"],"URL":"http:\/\/dx.doi.org\/10.1596\/1813-9450-7091","ISSN":["1813-9450"],"issn-type":[{"value":"1813-9450","type":"print"}],"published":{"date-parts":[[2014,11]]}},{"indexed":{"date-parts":[[2023,1,5]],"date-time":"2023-01-05T12:14:55Z","timestamp":1672920895395},"publisher-location":"Boca
        Raton, FL : Taylor & Francis, 2018.","edition-number":"1","reference-count":0,"publisher":"CRC
        Press","isbn-type":[{"value":"9780429470196","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1201\/9780429470196","type":"book","created":{"date-parts":[[2018,6,27]],"date-time":"2018-06-27T14:23:44Z","timestamp":1530109424000},"source":"Crossref","is-referenced-by-count":10,"title":["High
        Spatial Resolution Remote Sensing"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2018,6,27]]},"deposited":{"date-parts":[[2021,4,4]],"date-time":"2021-04-04T13:04:36Z","timestamp":1617541476000},"score":18.550447,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9780429893001"}},"subtitle":["Data,
        Analysis, and Applications"],"editor":[{"given":"Yuhong","family":"He","sequence":"first","affiliation":[]},{"given":"Qihao","family":"Weng","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2018,6,27]]},"ISBN":["9780429470196"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1201\/9780429470196","published":{"date-parts":[[2018,6,27]]}},{"indexed":{"date-parts":[[2023,1,5]],"date-time":"2023-01-05T10:31:55Z","timestamp":1672914715961},"edition-number":"0","reference-count":0,"publisher":"CRC
        Press","is[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=High-resolution%2Blidar%2Bdata%2Bfor%2Binfrastructure%2Bcorridors,%2BWiseman%2BQuadrangle,%2BAlaska%2B2014%2BAlaska%2BDivision%2Bof%2BGeological%2B%26%2BGeophysical%2BSurveys
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22High-resolution%20lidar%20data%20for%20Alaska%20infrastructure%20corridors,%20Alaska%20Division%20of%20Geological%20%26%20Geophysical%20Surveys,%20,%202014%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-[...]
