---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1371%2Fjournal.pone.0020476.s005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:14:13Z","timestamp":1648977253211},"reference-count":0,"publisher":"Public
        Library of Science (PLoS)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1371\/journal.pone.0020476.s005","type":"component","created":{"date-parts":[[2013,1,28]],"date-time":"2013-01-28T15:38:16Z","timestamp":1359387496000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1371","member":"340","container-title":[],"original-title":[],"deposited":{"date-parts":[[2018,10,19]],"date-time":"2018-10-19T19:11:42Z","timestamp":1539976302000},"score":1,"resource":{"primary":{"URL":"https:\/\/dx.plos.org\/10.1371\/journal.pone.0020476.s005"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0020476.s005","relation":{}}}'
  recorded_at: Thu, 22 Dec 2022 22:48:37 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=2013%2BPublic%2BLibrary%2Bof%2BScience%2B(PLoS)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2116837,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T07:57:49Z","timestamp":1648627069360},"edition-number":"0","reference-count":0,"publisher":"Routledge","isbn-type":[{"value":"9780203584033","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2013,5,29]]},"DOI":"10.4324\/9780203584033-20","type":"book-chapter","created":{"date-parts":[[2021,4,11]],"date-time":"2021-04-11T03:16:54Z","timestamp":1618111014000},"page":"118-159","source":"Crossref","is-referenced-by-count":0,"title":["Public
        library case studies"],"prefix":"10.4324","member":"301","container-title":["Contemporary
        Library Architecture"],"deposited":{"date-parts":[[2021,4,11]],"date-time":"2021-04-11T03:17:04Z","timestamp":1618111024000},"score":20.745445,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781136660627\/chapters\/10.4324\/9780203584033-20"}},"issued":{"date-parts":[[2013,5,29]]},"ISBN":["9780203584033"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4324\/9780203584033-20","published":{"date-parts":[[2013,5,29]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T17:35:58Z","timestamp":1648661758150},"edition-number":"0","reference-count":0,"publisher":"Routledge","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2013,8,21]]},"DOI":"10.4324\/9781315879710-8","type":"book-chapter","created":{"date-parts":[[2021,3,6]],"date-time":"2021-03-06T00:58:24Z","timestamp":1614992304000},"page":"71-76","source":"Crossref","is-referenced-by-count":0,"title":["Spaced
        Out Library: Toronto Public Library\u2019s Spaced Out Collection"],"prefix":"10.4324","member":"301","container-title":["Science\/Fiction
        Collections"],"deposited":{"date-parts":[[2021,3,6]],"date-time":"2021-03-06T00:59:16Z","timestamp":1614992356000},"score":20.582077,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781134754625\/chapters\/10.4324\/9781315879710-8"}},"issued":{"date-parts":[[2013,8,21]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4324\/9781315879710-8","published":{"date-parts":[[2013,8,21]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T13:28:04Z","timestamp":1648992484716},"reference-count":13,"publisher":"IGI
        Global","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2013]]},"abstract":"<jats:p>The
        authors discuss their experience with using artificial intelligence and chatbots
        to enhance their existing web sites and information services in public library
        settings. The chapter describes their budget driven motivations for embarking
        on this project and outlines the development and implementation of the bots
        in their library settings. They show how the bots are positioned to enhance
        existing services and describe the various reactions to the bots from their
        patron base, and staff. Different implementations of the bots are highlighted
        (text only, animated talking avatar, mobile site, desktop help icon) as well
        as the differing levels of complexity of these different implementations.
        They address the oft posed question \u201cDoes AI spell the end of Reference?\u201d
        and describe the InfoTabby code sharing project.<\/jats:p>","DOI":"10.4018\/978-1-4666-3938-6.ch006","type":"book-chapter","created":{"date-parts":[[2013,4,22]],"date-time":"2013-04-22T19:06:37Z","timestamp":1366657597000},"page":"101-114","source":"Crossref","is-referenced-by-count":1,"title":["Chatbots"],"prefix":"10.4018","author":[{"given":"Michele","family":"McNeal","sequence":"first","affiliation":[{"name":"Akron-Summit
        County Public Library, USA"}]},{"given":"David","family":"Newyear","sequence":"additional","affiliation":[{"name":"Lakeland
        Community College, USA"}]}],"member":"2432","reference":[{"issue":"1","key":"978-1-4666-3938-6.ch006.-1","doi-asserted-by":"crossref","first-page":"54","DOI":"10.5860\/rusq.48n1.54","article-title":"Reference
        desk staffing trends: A survey.","volume":"48","author":"J.Banks","year":"2008","journal-title":"Reference
        and User Services Quarterly"},{"key":"978-1-4666-3938-6.ch006.-2","doi-asserted-by":"crossref","unstructured":"Bohle,
        S. (2010). The Neil A. Armstrong Library and Archives: That\u2019s one small
        step for a virtual world library, one giant leap for education! Journal of
        Virtual Worlds Research, 3(1). Retrieved January 23, 2012, from http:\/\/journals.tdl.org\/jvwr\/article\/view\/1600","DOI":"10.4101\/jvwr.v3i1.1600"},{"key":"978-1-4666-3938-6.ch006.-3","unstructured":"Christensen,
        A. (2007, August 28). A trend from Germany: Library chatbots in digital reference.
        P[...]
