---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6028%2Fnist.ir.8245
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"National
        Institute of Standards and Technology","acronym":["NIST"],"place":["Gaithersburg,
        MD"],"department":["Information Technology Laboratory","Material Measurement
        Laboratory"]}],"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T00:10:40Z","timestamp":1649031040985},"publisher-location":"Gaithersburg,
        MD","reference-count":0,"publisher":"National Institute of Standards and Technology","funder":[{"DOI":"10.13039\/100007764r","name":"Information
        Technology Laboratory","doi-asserted-by":"publisher"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.6028\/nist.ir.8245","type":"report","created":{"date-parts":[[2019,3,28]],"date-time":"2019-03-28T13:01:30Z","timestamp":1553778090000},"source":"Crossref","is-referenced-by-count":3,"title":["Voices
        of first responders - examining public safety communication\n                        problems
        and requested functionality:"],"prefix":"10.6028","author":[{"given":"Shanee","family":"Dawkins","sequence":"first","affiliation":[]},{"given":"Yee-Yin","family":"Choong","sequence":"additional","affiliation":[]},{"given":"Mary
        F","family":"Theofanos","sequence":"additional","affiliation":[]},{"given":"Kristen
        K","family":"Greene","sequence":"additional","affiliation":[]},{"given":"Susanne","family":"Furman","sequence":"additional","affiliation":[]},{"given":"Michelle","family":"Steves","sequence":"additional","affiliation":[]},{"given":"Sandra
        Spickard","family":"Prettyman","sequence":"additional","affiliation":[]}],"member":"4068","published-online":{"date-parts":[[2019,3]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,8,20]],"date-time":"2020-08-20T14:05:37Z","timestamp":1597932337000},"score":1,"resource":{"primary":{"URL":"https:\/\/nvlpubs.nist.gov\/nistpubs\/ir\/2019\/NIST.IR.8245.pdf"}},"subtitle":["findings
        from user-centered interviews, phase 1, volume 2"],"short-title":[],"issued":{"date-parts":[[2019,3]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.6028\/nist.ir.8245","relation":{},"published":{"date-parts":[[2019,3]]}}}'
  recorded_at: Sun, 11 Dec 2022 20:30:02 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22,%20National%20Institute%20of%20Standards%20and%20Technology,%20Gaithersburg,%20MD,%202019%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":80070,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T02:07:43Z","timestamp":1649210863763},"publisher-location":"Washington,
        D.C.","reference-count":0,"publisher":"National Academies Press","isbn-type":[{"value":"9780309498951","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019,12,3]]},"DOI":"10.17226\/25602","type":"book","created":{"date-parts":[[2019,12,3]],"date-time":"2019-12-03T16:02:20Z","timestamp":1575388940000},"source":"Crossref","is-referenced-by-count":0,"title":["An
        Assessment of the Communications Technology Laboratory at the National Institute
        of Standards and Technology"],"prefix":"10.17226","author":[{"name":"Panel
        on Review of the National Institute of Standards and Technology\u2019s Communications
        Technology Laboratory","sequence":"first","affiliation":[]},{"name":"Laboratory
        Assessments Board","sequence":"additional","affiliation":[]},{"name":"Division
        on Engineering and Physical Sciences","sequence":"additional","affiliation":[]},{"name":"National
        Academies of Sciences, Engineering, and Medicine","sequence":"additional","affiliation":[]}],"member":"6987","deposited":{"date-parts":[[2019,12,3]],"date-time":"2019-12-03T16:02:21Z","timestamp":1575388941000},"score":30.310743,"resource":{"primary":{"URL":"https:\/\/www.nap.edu\/catalog\/25602"}},"subtitle":["Fiscal
        Year 2019"],"issued":{"date-parts":[[2019,12,3]]},"ISBN":["9780309498951"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.17226\/25602","published":{"date-parts":[[2019,12,3]]}},{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T12:55:12Z","timestamp":1648644912984},"publisher-location":"Washington,
        D.C.","reference-count":0,"publisher":"National Academies Press","isbn-type":[{"value":"9780309557795","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.17226\/9979","type":"book","created[...]
