---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.17487%2FRFC0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.3 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,1,10]],"date-time":"2023-01-10T11:28:02Z","timestamp":1673350082026},"reference-count":0,"publisher":"RFC
        Editor","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.17487\/rfc0001","type":"report","created":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"source":"Crossref","is-referenced-by-count":10,"title":["Host
        Software"],"prefix":"10.17487","author":[{"given":"S.","family":"Crocker","sequence":"first","affiliation":[]}],"member":"7045","published-online":{"date-parts":[[1969,4]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.rfc-editor.org\/info\/rfc0001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1969,4]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.17487\/rfc0001","relation":{},"published":{"date-parts":[[1969,4]]}}}'
  recorded_at: Mon, 27 Mar 2023 16:01:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Host%2BSoftware%2B1969%2BRFC%2BEditor
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":142647,"items":[{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T14:55:52Z","timestamp":1649170552461},"reference-count":0,"publisher":"CRC
        Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,17]]},"DOI":"10.1201\/9781420013290.axa","type":"book-chapter","created":{"date-parts":[[2010,2,19]],"date-time":"2010-02-19T17:55:34Z","timestamp":1266602134000},"page":"373-374","source":"Crossref","is-referenced-by-count":0,"title":["Request
        for Change (RFC) Template"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2009,11,23]]},"container-title":["Software
        Deployment, Updating, and Patching"],"link":[{"URL":"http:\/\/www.crcnetbase.com\/doi\/pdf\/10.1201\/9781420013290.axa","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2016,9,6]],"date-time":"2016-09-06T07:52:33Z","timestamp":1473148353000},"score":21.851936,"resource":{"primary":{"URL":"http:\/\/www.crcnetbase.com\/doi\/10.1201\/9781420013290.axa"}},"issued":{"date-parts":[[2007,12,17]]},"references-count":0,"alternative-id":["10.1201\/9781420013290.axa","10.1201\/9781420013290"],"URL":"http:\/\/dx.doi.org\/10.1201\/9781420013290.axa","published":{"date-parts":[[2007,12,17]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T01:08:41Z","timestamp":1649120921485},"reference-count":0,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011]]},"DOI":"10.1109\/9780470187562.about","type":"book-chapter","created":{"date-parts":[[2015,5,18]],"date-[...]
