---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.17487%2FRFC0001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,10,5]],"date-time":"2022-10-05T15:49:30Z","timestamp":1664984970910},"reference-count":0,"publisher":"RFC
        Editor","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.17487\/rfc0001","type":"report","created":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"source":"Crossref","is-referenced-by-count":11,"title":["Host
        Software"],"prefix":"10.17487","author":[{"given":"S.","family":"Crocker","sequence":"first","affiliation":[]}],"member":"7045","published-online":{"date-parts":[[1969,4]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2015,4,6]],"date-time":"2015-04-06T01:16:32Z","timestamp":1428282992000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.rfc-editor.org\/info\/rfc0001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1969,4]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.17487\/rfc0001","relation":{},"published":{"date-parts":[[1969,4]]}}}'
  recorded_at: Sun, 11 Dec 2022 20:30:36 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22,%20RFC%20Editor,%20,%201969%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2696,"items":[{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T03:40:32Z","timestamp":1649043632126},"publisher-location":"Wiesbaden","reference-count":0,"publisher":"Vieweg+Teubner
        Verlag","isbn-type":[{"value":"9783528058784","type":"print"},{"value":"9783322939630","type":"electronic"}],"license":[{"start":{"date-parts":[[2004,1,1]],"date-time":"2004-01-01T00:00:00Z","timestamp":1072915200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2004]]},"DOI":"10.1007\/978-3-322-93963-0","type":"book","created":{"date-parts":[[2012,7,4]],"date-time":"2012-07-04T21:29:19Z","timestamp":1341437359000},"source":"Crossref","is-referenced-by-count":0,"title":["SAP
        R\/3\u00ae Kommunikation mit RFC und Visual Basic"],"prefix":"10.1007","author":[{"given":"Patrick","family":"Theobald","sequence":"first","affiliation":[]}],"member":"297","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-322-93963-0.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-322-93963-0","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,4,7]],"date-time":"2019-04-07T02:39:10Z","timestamp":1554604750000},"score":15.554201,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-3-322-93963-0"}},"issued":{"date-parts":[[2004]]},"ISBN":["9783528058784","9783322939630"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-322-93963-0","published":{"date-parts":[[2004]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T06:16:46Z","timestamp":1648966606342},"publisher-location":"Wiesbaden","reference-count":0,"publisher":"Vieweg+Teubner
        Verlag","isbn-type":[{"value":"9783528158781","type":"print"},{"value":"9783663016120","type":"electronic"}],"license":[{"start":{"date-parts":[[2004,1,1]],"date-t[...]
