---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1088%2F0026-1394%2F29%2F6%2F001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:47:51Z","timestamp":1648979271167},"reference-count":9,"publisher":"IOP
        Publishing","issue":"6","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Metrologia"],"published-print":{"date-parts":[[1993,1,1]]},"DOI":"10.1088\/0026-1394\/29\/6\/001","type":"journal-article","created":{"date-parts":[[2005,2,1]],"date-time":"2005-02-01T04:33:05Z","timestamp":1107232385000},"page":"373-377","source":"Crossref","is-referenced-by-count":10,"title":["Decade
        Designs for Weighings of Non-uniform Variance"],"prefix":"10.1088","volume":"29","author":[{"given":"E
        C","family":"Morris","sequence":"first","affiliation":[]}],"member":"266","published-online":{"date-parts":[[2005,2,1]]},"reference":[{"key":"1","first-page":"625
        p","author":"Rao C R","year":"1973","journal-title":"Linear Statistical Inference
        and Its Applications"},{"key":"2","doi-asserted-by":"crossref","first-page":"123","DOI":"10.1088\/0026-1394\/10\/4\/002","volume":"10","author":"Prowse
        D B","year":"1974","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"3","first-page":"233","volume":"87","author":"Grabe
        M","year":"1977","journal-title":"PTB-Mitt.","ISSN":"http:\/\/id.crossref.org\/issn\/0030-834X","issn-type":"print"},{"key":"4","doi-asserted-by":"crossref","first-page":"143","DOI":"10.1088\/0026-1394\/14\/4\/002","volume":"14","author":"Grabe
        M","year":"1978","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"5","doi-asserted-by":"crossref","first-page":"51","DOI":"10.1088\/0026-1394\/16\/1\/007","volume":"16","author":"Zuker
        M","year":"1980","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"6","first-page":"33","author":"Prowse
        D B","year":"1984","journal-title":"Modern Techniques in Metrology"},{"key":"7","first-page":"459","volume":"7","author":"Chaudri
        M A","year":"1988","journal-title":"Pakistan J. Sci. Ind. Res."},{"key":"8","doi-asserted-by":"crossref","first-page":"17","DOI":"10.1088\/0026-1394\/27\/1\/004","volume":"27","author":"Mihailov
        G","year":"1990","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"},{"key":"9","doi-asserted-by":"crossref","first-page":"111","DOI":"10.1088\/0026-1394\/27\/3\/001","volume":"27","author":"Bich
        W","year":"1990","journal-title":"Metrologia","ISSN":"http:\/\/id.crossref.org\/issn\/0026-1394","issn-type":"print"}],"container-title":["Metrologia"],"original-title":[],"link":[{"URL":"http:\/\/stacks.iop.org\/0026-1394\/29\/i=6\/a=001\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T22:04:49Z","timestamp":1586556289000},"score":1,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/article\/10.1088\/0026-1394\/29\/6\/001"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1993,1,1]]},"references-count":9,"journal-issue":{"issue":"6","published-print":{"date-parts":[[1992,1,1]]}},"URL":"http:\/\/dx.doi.org\/10.1088\/0026-1394\/29\/6\/001","relation":{},"ISSN":["0026-1394","1681-7575"],"issn-type":[{"value":"0026-1394","type":"print"},{"value":"1681-7575","type":"electronic"}],"subject":["General
        Engineering"],"published":{"date-parts":[[1993,1,1]]}}}'
  recorded_at: Sun, 11 Dec 2022 20:31:02 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Metrologia,%20IOP%20Publishing,%20,%201993%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":7849,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T18:04:09Z","timestamp":1648749849876},"reference-count":0,"publisher":"University
        of Illinois Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,4,20]]},"abstract":"<p>This
        chapter explores two case studies that each illustrate an attempt to infuse
        feminist politics into the economically driven apparatus of book publishing:
        <italic>Sisterhood Is Powerful<\/italic> (1970) and <italic>This Bridge Called
        My Back: Writings by Radical Women of Color<\/italic> (1981). Exploring the
        publication history of <italic>Sisterhood Is Powerful<\/italic> provides a
        landmark case study of feminist experimentation in publishing that was inevitably
        fraught with controversy due to the ideological struggles of the time over
        economic and political \u201cpurity.\u201d <italic>This Bridge Called My Back<\/i[...]
