---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109%2Fieeestd.2014.6835311
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,8,25]],"date-time":"2022-08-25T21:25:00Z","timestamp":1661462700575},"publisher-location":"Piscataway,
        NJ, USA","standards-body":{"name":"Software &amp; Systems Engineering Standards
        Committee of the IEEE Computer Society","acronym":"IEEE"},"reference-count":0,"publisher":"IEEE","isbn-type":[{"value":"9780738191683","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/ieeestd.2014.6835311","type":"standard","created":{"date-parts":[[2014,6,19]],"date-time":"2014-06-19T20:13:47Z","timestamp":1403208827000},"approved":{"date-parts":[[2014,3,27]]},"source":"Crossref","is-referenced-by-count":5,"title":["IEEE
        Standard for Software Quality Assurance Processes"],"prefix":"10.1109","member":"263","container-title":[],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx7\/6835309\/6835310\/06835311.pdf?arnumber=6835311","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,10,14]],"date-time":"2020-10-14T15:36:09Z","timestamp":1602689769000},"score":1,"resource":{"primary":{"URL":"https:\/\/ieeexplore.ieee.org\/document\/6835311"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"ISBN":["9780738191683"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1109\/ieeestd.2014.6835311","relation":{}}}'
  recorded_at: Sun, 11 Dec 2022 20:32:34 GMT
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22,%20IEEE,%20Piscataway,%20NJ,%20USA,%202014%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":43253,"items":[{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T08:35:55Z","timestamp":1648888555331},"publisher-location":"Berlin,
        Heidelberg","reference-count":0,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783642248726","type":"print"},{"value":"9783642248733","type":"electronic"}],"license":[{"start":{"date-parts":[[2011,1,1]],"date-time":"2011-01-01T00:00:00Z","timestamp":1293840000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2011,1,1]],"date-time":"2011-01-01T00:00:00Z","timestamp":1293840000000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2011]]},"DOI":"10.1007\/978-3-642-24873-3","type":"book","created":{"date-parts":[[2011,10,11]],"date-time":"2011-10-11T07:08:48Z","timestamp":1318316928000},"source":"Crossref","is-referenced-by-count":1,"title":["Algorithmic
        Decision Theory"],"prefix":"10.1007","member":"297","container-title":["Lecture
        Notes in Computer Science"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-642-24873-3.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-3-642-24873-3","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2020,10,3]],"date-time":"2020-10-03T18:02:43Z","timestamp":1601748163000},"score":28.562735,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-3-642-24873-3"}},"subtitle":["Second
        International Conference, ADT 2011, Piscataway, NJ, USA, October 26-28, 2011.
        Proceedings"],"editor":[{"given":"Ronen I.","family":"Brafman","sequence":"first","affiliation":[]},{"given":"Fred
        S.","family":"Roberts","sequence":"additional","affiliation":[]},{"given":"Alexis","family":"Tsouki\u00e0s","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2011]]},"ISBN":["9783642248726","9783642248733"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-3-642-24873-3","ISSN":["0302-9743","1611-3349"],"issn-type":[{"value":"0302-9743","type":"print"},{"value":"1611-3349","type":"electronic"}],"published":{"date-parts":[[2011]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T05:59:30Z","timestamp":1649051970204},"publisher-location":"Berlin,
        Heidelberg","reference-count":0,"publisher":"Springer Berlin Heidelberg","isbn-type":[{"value":"9783540212492","type":"print"},{"value":"9783540247197","type":"electronic"}],"license":[{"start":{"date-parts":[[2004,1,1]],"date-time":"2004-01-01T00:00:00Z","timestamp":1072915200000},"content-version":"tdm","delay-in-days":0,"URL":"http:[...]
