---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1163%2F2214-871x_ei1_sim_5628
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.10 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Koninklijke
        Brill NV","acronym":["BRILL"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:24:39Z","timestamp":1648977879169},"reference-count":0,"publisher":"Brill","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1163\/2214-871x_ei1_sim_5628","type":"dataset","created":{"date-parts":[[2014,10,29]],"date-time":"2014-10-29T17:05:41Z","timestamp":1414602341000},"source":"Crossref","is-referenced-by-count":0,"title":["TA\u02bfIZZ"],"prefix":"10.1163","member":"50","container-title":["Encyclopaedia
        of Islam, First Edition (1913-1936)"],"original-title":[],"deposited":{"date-parts":[[2018,11,21]],"date-time":"2018-11-21T12:10:51Z","timestamp":1542802251000},"score":1,"resource":{"primary":{"URL":"https:\/\/referenceworks.brillonline.com\/entries\/encyclopaedia-of-islam-1\/*-SIM_5628"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1163\/2214-871x_ei1_sim_5628","relation":{}}}'
  recorded_at: Fri, 01 Sep 2023 03:58:59 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Encyclopaedia%20of%20Islam,%20First%20Edition%20(1913-1936)%202014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":91370,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T23:12:17Z","timestamp":1648768337903},"reference-count":0,"publisher":"Princeton
        University Press","isbn-type":[{"value":"9781400852222","type":"electronic"},{"value":"1400852226","type":"electronic"},{"value":"9780691160870","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,9,28]]},"DOI":"10.2307\/j.ctt6wq0nq","type":"monograph","created":{"date-parts":[[2019,3,5]],"date-time":"2019-03-05T21:40:36Z","timestamp":1551822036000},"source":"Crossref","is-referenced-by-count":2,"title":["The
        Jews of Islam"],"prefix":"10.2307","author":[{"given":"BERNARD","family":"LEWIS","sequence":"first","affiliation":[]}],"member":"1121","deposited":{"date-parts":[[2019,3,5]],"date-time":"2019-03-05T21:40:37Z","timestamp":1551822037000},"score":20.675694,"resource":{"primary":{"URL":"http:\/\/www.jstor.org\/stable\/10.2307\/j.ctt6wq0nq"}},"subtitle":["Updated
        Edition"],"issued":{"date-parts":[[2014,9,28]]},"ISBN":["9781400852222","1400852226","9780691160870"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2307\/j.ctt6wq0nq","relation":{"is-identical-to":[{"id-type":"doi","id":"10.1515\/9781400852222","asserted-by":"subject"}]},"published":{"date-parts":[[2014,9,28]]}},{"indexed":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:40:18Z","timestamp":1650051618371},"publisher-location":"London","reference-count":0,"publisher":"Encyclopaedia
        Britannica","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1913]]},"DOI":"10.5962\/bhl.title.18648","type":"monograph","created":{"date-parts":[[2011,11,22]],"date-time":"2011-11-22T16:19:40Z","timestamp":1321978780000},"source":"Crossref","is-referenced-by-count":0,"title":["Britannica
        year-book, 1913 - a survey of the world''s progress since the completion in
        1910 of the Encyclopaedia Britannica"],"prefix":"10.5962","author":[{"given":"Hugh","family":"Chisholm","sequence":"first","affiliation":[]}],"member":"33859","deposited":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:23:31Z","timestamp":1650050611000},"score":20.595753,"resource":{"primary":{"URL":"https:\/\/www.biodiversitylibrary.org\/bibliography\/18648"}},"issued":{"date-parts":[[1913]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.18648","published":{"date-parts":[[1913]]}},{"indexed":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T19:44:05Z","timestamp":1659469445910},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,3,3]]},"abstract":"<p>This
        chapter discusses the first manifestations of Islam in America from the eighteenth
        century to 1975. The first US Muslims were West African Sunnis who had been
        deported through the transatlantic slave trade. Most came from Senegal, Gambia,
        and Guinea. Despite being enslaved in a Christian land, they maintained their
        faith, and evidence shows that some continued to pray, fast, give charity,
        and follow a particular diet and dress code. Their [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=TA%CA%BFIZZ%2B2014%2BBrill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":809824,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T12:30:17Z","timestamp":1648989017684},"reference-count":0,"publisher":"The
        Gingko Library","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2307\/j.ctt201mpg0.14","type":"book-chapter","created":{"date-parts":[[2018,1,31]],"date-time":"2018-01-31T20:19:15Z","timestamp":1517429955000},"page":"111-117","source":"Crossref","is-referenced-by-count":0,"title":["The
        Forts of Yemen:"],"prefix":"10.2307","author":[{"given":"NOHA","family":"SADEK","sequence":"first","affiliation":[]}],"member":"1121","container-title":["Architectural
        Heritage of Yemen"],"deposited":{"date-parts":[[2018,5,9]],"date-time":"2018-05-09T14:55:40Z","timestamp":1525877740000},"score":18.962877,"resource":{"primary":{"URL":"https:\/\/www.jstor.org\/stable\/10.2307\/j.ctt201mpg0.14"}},"subtitle":["The
        Example of the Citadel of Ta\u02bfizz"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2307\/j.ctt201mpg0.14"},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T11:39:05Z","timestamp":1648985945142},"reference-count":10,"publisher":"Elsevier","license":[{"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1016\/b978-0-12-801238-3.04884-4","type":"book-chapter","created":{"date-parts":[[2014,11,28]],"date-time":"2014-11-28T20:09:10Z","timestamp":1417205350000},"source":"Crossref","is-referenced-by-count":0,"title":["Brill-Zinsser
        Disease\u2606"],"prefix":"10.1016","author":[{"given":"F.C.","family":"Knoop","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0010","doi-asserted-by":"crossref","first-page":"277","DOI":"10.4269\/ajtmh.1980.29.277","article-title":"Evidence
        of rickettsia prowazekii infection in the United States","volume":"29","author":"McDade","year":"1980","journal-title":"The
        American Journal of Tropical Medicine and Hygiene"},{"issue":"6","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0015","doi-asserted-by":"crossref","first-page":"979","DOI":"10.1086\/319351","article-title":"Epidemic
        typhus meningitis in the southwestern United States","volume":"32","author":"Massung","year":"2001","journal-title":"Clinical
        Infectious Diseases"},{"issue":"9263","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0020","doi-asserted-by":"crossref","first-page":"1198","DOI":"10.1016\/S0140-6736(00)04339-7","article-title":"Brill-Zinsser
        disease","volume":"357","author":"Lutwick","year":"2001","journal-title":"Lancet"},{"issue":"6","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0025","doi-asserted-by":"crossref","first-page":"1737","DOI":"10.1128\/AAC.44.6.1737-1738.2000","article-title":"Failure
        of azithromycin in treatment of Brill-Zinsser disease","volume":"44","author":"Turcinov","year":"2000","journal-title":"Antimicrobial
        Agents and Chemotherapy"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0030","doi-asserted-by":"crossref","first-page":"712","DOI":"10.1086\/655891","article-title":"Brill-Zinsser
        disease in a patients following infection with sylvatic epidemic typhus associated
        with flying squirrels","volume":"51","author":"McQuiston","year":"2010","journal-title":"Clinical
        Infectious Diseases"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0035","series-title":"Microbiology","first-page":"214","article-title":"Mycoplasmas,
        rickettsiae, and other unusual bacteria","author":"Walker","year":"1998"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0040","series-title":"Mim''s
        Pathogenesis of Infectious Disease","first-page":"339","article-title":"Failure
        to eliminate microbe","author":"Mims","year":"2001"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0045","series-title":"Medical
        Microbiology","article-title":"(2013) Rickettsia and orientia","year":"2013"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0050","unstructured":"An
        article on rickettsial infections can be found in the Merck Manual of Diagnosis
        and Therapy at - http:\/\/www.merck.com\/pubs\/mmanual\/section13\/chapter159\/159a.htm#A013-159-1488;
        http:\/\/www.merckmanuals.com\/professional\/infectious_diseases\/rickettsiae_and_related_organisms\/overview_of_rickettsial_infections.html?qt=brill-zinsser&alt=sh."},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0055","unstructured":"A
        unique article on Epidemic Typhus associated with flying squirrels in the
        United States is located at - http:\/\/www.cdc.gov\/mmwr\/preview\/mmwrhtml\/00001177.htm."}],"container-title":["Reference
        Module in Biomedical Sciences"],"link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B9780128012383048844?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B9780128012383048844?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2019,8,17]],"date-time":"2019-08-17T22:46:04Z","timestamp":1566081964000},"score":17.802303,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/B9780128012383048844"}},"issued":{"date-parts":[[2014]]},"references-count":10,"URL":"http:\/\/dx.doi.org\/10.1016\/b978-0-12-801238-3.04884-4","published":{"date-parts":[[2014]]}},{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T11:16:40Z","timestamp":1648725400452},"publisher-location":"Boston,
        MA","reference-count":11,"publisher":"Springer US","license":[{"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1007\/978-0-387-31439-6_451","type":"book-chapter","created":{"date-parts":[[2014,6,6]],"date-time":"2014-06-06T05:18:14Z","timestamp":1402031894000},"page":"98-100","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":1,"title":["Chromaticity"],"prefix":"10.1007","author":[{"given":"Michael
        H.","family":"Brill","sequence":"first","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2016,2,5]]},"reference":[{"key":"100251_CR3136","unstructured":"Wyszecki
        G, Stiles WS (1982) Color science: concepts and methods, quantitative data
        and formulae, Chaps. 3 and 5, 2nd edn. Wiley, New York"},{"key":"100251_CR3137","doi-asserted-by":"publisher","first-page":"11","DOI":"10.1002\/(SICI)1520-6378(199702)22:1<11::AID-COL4>3.0.CO;2-7","volume":"22","author":"HS
        Fairman","year":"1997","unstructured":"Fairman HS, Brill MH, Hemmendinger
        H (1997) How the CIE 1931 color-matching functions were derived from Wright-Guild
        data. Color Res Appl 22:11\u201323","journal-title":"Color Res Appl"},{"key":"100251_CR3138","unstructured":"Poynton
        CA (1996) A technical introduction to digital video, Chap. 7. Wiley, New York"},{"key":"100251_CR3139","doi-asserted-by":"publisher","first-page":"506","DOI":"10.1002\/col.20451","volume":"33","author":"MH
        Brill","year":"2008","unstructured":"Brill MH (2008) Transformation of primaries
        using four chromaticity points and their matches. Color Res Appl 33:506\u2013508","journal-title":"Color
        Res Appl"},{"key":"100251_CR3140","unstructured":"Fairchild M (2005) Color
        appearance models, Chap. 3, 2nd edn. Wiley, Chichester"},{"key":"100251_CR3141","doi-asserted-by":"publisher","volume-title":"Color
        measurement: theme and variations","author":"DL MacAdam","year":"1985","unstructured":"MacAdam
        DL (1985) Color measurement: theme and variations. Springer, Berlin\/New York","DOI":"10.1007\/978-3-540-38681-0"},{"key":"100251_CR3142","unstructured":"Koenderink
        JJ (2010) Color for the sciences, Chap. 4. MIT, Cambridge"},{"key":"100251_CR3143","volume-title":"Billmeyer
        and Saltzman\u2019s principles of color technology","author":"RS Berns","year":"2000","unstructured":"Berns
        RS (2000) Billmeyer and Saltzman\u2019s principles of color technology, 3rd
        edn. Wiley, New York","edition":"3"},{"key":"100251_CR3144","volume-title":"The
        measurement of colour","author":"RWG Hunt","year":"1998","unstructured":"Hunt
        RWG (1998) The measurement of colour, 3rd edn. Fountain Press, Kingston-Upon-Thames","edition":"3"},{"key":"100251_CR3145","doi-asserted-by":"publisher","DOI":"10.1002\/0470024275","volume-title":"The
        reproduction of colour","author":"RWG Hunt","year":"2004","unstructured":"Hunt
        RWG (2004) The reproduction of colour, 6th edn. Wiley, Chichester","edition":"6"},{"key":"100251_CR3146","volume-title":"Foundations
        of vision","author":"BA Wandell","year":"1995","unstructured":"Wandell BA
        (1995) Foundations of vision. Sinauer, Sunderland"}],"container-title":["Computer
        Vision"],"link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-0-387-31439-6_451","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,3,11]],"date-time":"2019-03-11T06:59:22Z","timestamp":1552287562000},"score":17.533453,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-0-387-31439-6_451"}},"issued":{"date-parts":[[2014]]},"references-count":11,"URL":"http:\/\/dx.doi.org\/10.1007\/978-0-387-31439-6_451","published":{"date-parts":[[2014]]},"assertion":[{"value":"5
        February 2016","order":1,"name":"first_online","label":"First Online","group":{"name":"ChapterHistory","label":"Chapter
        History"}},{"value":"5 February 2016","order":1,"name":"first_online","label":"First
        Online","group":{"name":"ChapterHistory","label":"Chapter History"}},{"value":"5
        February 2016","order":1,"name":"first_online","label":"First Online","group":{"name":"ChapterHistory","label":"Chapter
        History"}},{"value":"5 February 2016","order":1,"name":"first_online","label":"First
        Online","group":{"name":"ChapterHistory","label[...]
[...]
