---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1163%2F2214-871x_ei1_sim_5628
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Koninklijke
        Brill NV","acronym":["BRILL"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:24:39Z","timestamp":1648977879169},"reference-count":0,"publisher":"Brill","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1163\/2214-871x_ei1_sim_5628","type":"dataset","created":{"date-parts":[[2014,10,29]],"date-time":"2014-10-29T17:05:41Z","timestamp":1414602341000},"source":"Crossref","is-referenced-by-count":0,"title":["TA\u02bfIZZ"],"prefix":"10.1163","member":"50","container-title":["Encyclopaedia
        of Islam, First Edition (1913-1936)"],"original-title":[],"deposited":{"date-parts":[[2018,11,21]],"date-time":"2018-11-21T12:10:51Z","timestamp":1542802251000},"score":1,"resource":{"primary":{"URL":"https:\/\/referenceworks.brillonline.com\/entries\/encyclopaedia-of-islam-1\/*-SIM_5628"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1163\/2214-871x_ei1_sim_5628","relation":{}}}'
  recorded_at: Tue, 19 Mar 2024 03:24:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Encyclopaedia%20of%20Islam,%20First%20Edition%20(1913-1936)%202014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":94961,"items":[{"indexed":{"date-parts":[[2024,3,16]],"date-time":"2024-03-16T23:01:50Z","timestamp":1710630110051},"reference-count":0,"publisher":"BRILL","isbn-type":[{"value":"9789004702875","type":"print"},{"value":"9789004616158","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1974,12,1]]},"DOI":"10.1163\/9789004616158","type":"monograph","created":{"date-parts":[[2024,2,29]],"date-time":"2024-02-29T05:26:36Z","timestamp":1709184396000},"source":"Crossref","is-referenced-by-count":4,"title":["Encyclopaedia
        of Islam, Shorter"],"prefix":"10.1163","author":[{"family":"Gibb","sequence":"first","affiliation":[]}],"member":"50","link":[{"URL":"https:\/\/brill.com\/view\/title\/3457","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/brill.com\/view\/title\/3457","content-type":"text\/html","content-version":"vor","intended-application":"syndication"},{"URL":"https:\/\/brill.com\/view\/title\/3457","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,2,29]],"date-time":"2024-02-29T05:47:18Z","timestamp":1709185638000},"score":21.178913,"resource":{"primary":{"URL":"https:\/\/brill.com\/view\/title\/3457"}},"issued":{"date-parts":[[1974,12,1]]},"ISBN":["9789004702875","9789004616158"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1163\/9789004616158","published":{"date-parts":[[1974,12,1]]}},{"indexed":{"date-parts":[[2024,3,3]],"date-time":"2024-03-03T18:08:54Z","timestamp":1709489334398},"reference-count":0,"publisher":"Princeton
        University Press","isbn-type":[{"value":"9781400852222","type":"electronic"},{"value":"1400852226","type":"electronic"},{"value":"9780691160870","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,9,28]]},"DOI":"10.2307\/j.ctt6wq0nq","type":"monograph","created":{"date-parts":[[2019,3,5]],"date-time":"2019-03-05T21:40:36Z","timestamp":1551822036000},"source":"Crossref","is-referenced-by-count":2,"title":["The
        Jews of Islam"],"prefix":"10.2307","author":[{"given":"BERNARD","family":"LEWIS","sequence":"first","affiliation":[]}],"member":"1121","deposited":{"date-parts":[[2019,3,5]],"date-time":"2019-03-05T21:40:37Z","timestamp":1551822037000},"score":20.769115,"resource":{"primary":{"URL":"http:\/\/www.jstor.org\/stable\/10.2307\/j.ctt6wq0nq"}},"subtitle":["Updated
        Edition"],"issued":{"date-parts":[[2014,9,28]]},"ISBN":["9781400852222","1400852226","9780691160870"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2307\/j.ctt6wq0nq","relation":{"is-identical-to":[{"id-type":"doi","id":"10.1515\/9781400852222","asserted-by":"subject"}]},"published":{"date-parts":[[2014,9,28]]}},{"indexed":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:40:18Z","timestamp":1650051618371},"publisher-location":"London","reference-count":0,"publisher":"Encyclopaedia
        Britannica","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1913]]},"DOI":"10.5962\/bhl.title.18648","type":"monograph","created":{"date-parts":[[2011,11,22]],"date-time":"2011-11-22T16:19:40Z","timestamp":1321978780000},"source":"Crossref","is-referenced-by-count":0,"title":["Britannica
        year-book, 1913 - a survey of the world''s progress since the completion in
        1910 of the Encyclopaedia Britannica"],"prefix":"10.5962","author":[{"given":"Hugh","family":"Chisholm","sequence":"first","affiliation":[]}],"member":"33859","deposited":{"date-parts":[[2022,4,15]],"date-time":"2022-04-15T19:23:31Z","timestamp":1650050611000},"score":20.577759,"resource":{"primary":{"URL":"https:\/\/www.biodiversitylibrary.org\/bibliography\/18648"}},"issued":{"date-parts":[[1913]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.18648","published":{"date-parts":[[1913]]}},{"indexed":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T19:44:05Z","timestamp":1659469445910},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014,3,3]]},"abstract":"<p>This
        chapter discusses the first manifestations of Islam in America from the eighteenth
        century to 1975. The first US Muslims were West African Sunnis who had been
        deported through the transatlantic slave trade. Most came from Senegal, Gambia,
        and Guinea. Despite being enslaved in a Christian land, they maintained their
        faith, and evidence shows that some continued to pray, fast, give charity,
        and follow a particular diet and dress code. Their [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=TA%CA%BFIZZ%2B2014%2BBrill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":827293,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T12:30:17Z","timestamp":1648989017684},"reference-count":0,"publisher":"The
        Gingko Library","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.2307\/j.ctt201mpg0.14","type":"book-chapter","created":{"date-parts":[[2018,1,31]],"date-time":"2018-01-31T20:19:15Z","timestamp":1517429955000},"page":"111-117","source":"Crossref","is-referenced-by-count":0,"title":["The
        Forts of Yemen:"],"prefix":"10.2307","author":[{"given":"NOHA","family":"SADEK","sequence":"first","affiliation":[]}],"member":"1121","container-title":["Architectural
        Heritage of Yemen"],"deposited":{"date-parts":[[2018,5,9]],"date-time":"2018-05-09T14:55:40Z","timestamp":1525877740000},"score":18.938822,"resource":{"primary":{"URL":"https:\/\/www.jstor.org\/stable\/10.2307\/j.ctt201mpg0.14"}},"subtitle":["The
        Example of the Citadel of Ta\u02bfizz"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.2307\/j.ctt201mpg0.14"},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T11:39:05Z","timestamp":1648985945142},"reference-count":10,"publisher":"Elsevier","license":[{"start":{"date-parts":[[2014,1,1]],"date-time":"2014-01-01T00:00:00Z","timestamp":1388534400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2014]]},"DOI":"10.1016\/b978-0-12-801238-3.04884-4","type":"book-chapter","created":{"date-parts":[[2014,11,28]],"date-time":"2014-11-28T20:09:10Z","timestamp":1417205350000},"source":"Crossref","is-referenced-by-count":0,"title":["Brill-Zinsser
        Disease\u2606"],"prefix":"10.1016","author":[{"given":"F.C.","family":"Knoop","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0010","doi-asserted-by":"crossref","first-page":"277","DOI":"10.4269\/ajtmh.1980.29.277","article-title":"Evidence
        of rickettsia prowazekii infection in the United States","volume":"29","author":"McDade","year":"1980","journal-title":"The
        American Journal of Tropical Medicine and Hygiene"},{"issue":"6","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0015","doi-asserted-by":"crossref","first-page":"979","DOI":"10.1086\/319351","article-title":"Epidemic
        typhus meningitis in the southwestern United States","volume":"32","author":"Massung","year":"2001","journal-title":"Clinical
        Infectious Diseases"},{"issue":"9263","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0020","doi-asserted-by":"crossref","first-page":"1198","DOI":"10.1016\/S0140-6736(00)04339-7","article-title":"Brill-Zinsser
        disease","volume":"357","author":"Lutwick","year":"2001","journal-title":"Lancet"},{"issue":"6","key":"10.1016\/B978-0-12-801238-3.04884-4_bib0025","doi-asserted-by":"crossref","first-page":"1737","DOI":"10.1128\/AAC.44.6.1737-1738.2000","article-title":"Failure
        of azithromycin in treatment of Brill-Zinsser disease","volume":"44","author":"Turcinov","year":"2000","journal-title":"Antimicrobial
        Agents and Chemotherapy"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0030","doi-asserted-by":"crossref","first-page":"712","DOI":"10.1086\/655891","article-title":"Brill-Zinsser
        disease in a patients following infection with sylvatic epidemic typhus associated
        with flying squirrels","volume":"51","author":"McQuiston","year":"2010","journal-title":"Clinical
        Infectious Diseases"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0035","series-title":"Microbiology","first-page":"214","article-title":"Mycoplasmas,
        rickettsiae, and other unusual bacteria","author":"Walker","year":"1998"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0040","series-title":"Mim''s
        Pathogenesis of Infectious Disease","first-page":"339","article-title":"Failure
        to eliminate microbe","author":"Mims","year":"2001"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0045","series-title":"Medical
        Microbiology","article-title":"(2013) Rickettsia and orientia","year":"2013"},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0050","unstructured":"An
        article on rickettsial infections can be found in the Merck Manual of Diagnosis
        and Therapy at - http:\/\/www.merck.com\/pubs\/mmanual\/section13\/chapter159\/159a.htm#A013-159-1488;
        http:\/\/www.merckmanuals.com\/professional\/infectious_diseases\/rickettsiae_and_related_organisms\/overview_of_rickettsial_infections.html?qt=brill-zinsser&alt=sh."},{"key":"10.1016\/B978-0-12-801238-3.04884-4_bib0055","unstructured":"A
        unique article on Epidemic Typhus associated with flying squirrels in the
        United States is located at - http:\/\/www.cdc.gov\/mmwr\/preview\/mmwrhtml\/00001177.htm."}],"container-title":["Reference
        Module in Biomedical Sciences"],"link":[{"UR[...]
[...]
