---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.6019%2Fpxd038478
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,12,2]],"date-time":"2022-12-02T06:01:09Z","timestamp":1669960869907},"reference-count":0,"publisher":"EMBL-EBI","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.6019\/pxd038478","type":"database","created":{"date-parts":[[2022,12,1]],"date-time":"2022-12-01T09:40:58Z","timestamp":1669887658000},"source":"Crossref","is-referenced-by-count":0,"title":["ProteomeXchange
        dataset"],"prefix":"10.6019","member":"4043","container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,12,1]],"date-time":"2022-12-01T09:41:00Z","timestamp":1669887660000},"score":1,"resource":{"primary":{"URL":"http:\/\/central.proteomexchange.org\/PXD038478"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.6019\/pxd038478","relation":{}}}'
  recorded_at: Sun, 15 Jan 2023 19:23:44 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=2022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":89483,"items":[{"indexed":{"date-parts":[[2022,12,8]],"date-time":"2022-12-08T05:29:34Z","timestamp":1670477374798},"reference-count":0,"publisher":"Superior
        University, Lahore","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,12,17]]},"abstract":"<jats:p>All
        Private Sector Universities of Pakistan (APSUP) organized the grand entrepreneurial
        expo of the year SEE Pakistan 2022 and collaborated with its member universities
        from across the country. Embarked upon the spirit of patriotism in the month
        of August and celebrations of Independence Day, the event was held at Expo
        Centre Lahore on August 2022 ,18.  APSUP is an association of more than 50
        private universities from across Pakistan that represent[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=ProteomeXchange%2Bdataset%2B2022%2BEMBL-EBI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1004537,"items":[{"indexed":{"date-parts":[[2022,3,30]],"date-time":"2022-03-30T09:03:20Z","timestamp":1648631000875},"reference-count":0,"publisher":"Elsevier","license":[{"start":{"date-parts":[[1987,1,1]],"date-time":"1987-01-01T00:00:00Z","timestamp":536457600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1987]]},"DOI":"10.1016\/b978-0-12-512512-3.50016-x","type":"book-chapter","created":{"date-parts":[[2014,7,1]],"date-time":"2014-07-01T21:29:58Z","timestamp":1404250198000},"page":"EMBL-1-EMBL-4","source":"Crossref","is-referenced-by-count":0,"title":["Volume
        II EMBL Entry Index"],"prefix":"10.1016","member":"78","container-title":["Rodents"],"link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012512512350016X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012512512350016X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,8,3]],"date-time":"2018-08-03T22:04:32Z","timestamp":1533333872000},"score":20.754179,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/B978012512512350016X"}},"issued":{"date-parts":[[1987]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1016\/b978-0-12-512512-3.50016-x","published":{"date-parts":[[1987]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T01:28:39Z","timestamp":1649122119621},"reference-count":0,"publisher":"Elsevier","license":[{"start":{"date-parts":[[1987,1,1]],"date-time":"1987-01-01T00:00:00Z","timestamp":536457600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1987]]},"DOI":"10.1016\/b[...]
