---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.11606%2Ft.8.2017.tde-08052017-100442
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.10 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"Universidade
        de S\u00e3o Paulo","place":["S\u00e3o Paulo"],"department":["Faculdade de
        Filosofia, Letras e Ci\u00eancias Humanas"]}],"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:29:14Z","timestamp":1648978154984},"reference-count":0,"publisher":"Universidade
        de Sao Paulo, Agencia USP de Gestao da Informacao Academica (AGUIA)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.11606\/t.8.2017.tde-08052017-100442","type":"dissertation","created":{"date-parts":[[2018,4,10]],"date-time":"2018-04-10T16:24:23Z","timestamp":1523377463000},"approved":{"date-parts":[[2017,5,8]]},"source":"Crossref","is-referenced-by-count":0,"title":["N\u00f3s
        temos nosso direito que \u00e9 o certo: significados das lutas por reconhecimento
        entre comunidades do Vale do Ribeira, S\u00e3o Paulo"],"prefix":"10.11606","author":[{"given":"Homero
        Moro","family":"Martins","sequence":"first","affiliation":[]}],"member":"4873","container-title":[],"original-title":[],"link":[{"URL":"http:\/\/www.teses.usp.br\/teses\/disponiveis\/8\/8134\/tde-08052017-100442\/publico\/2017_HomeroMoroMartins_VCorr.pdf","content-type":"application\/octet-stream","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/www.teses.usp.br\/teses\/disponiveis\/8\/8134\/tde-08052017-100442\/publico\/2017_HomeroMoroMartins_VCorr.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,4,10]],"date-time":"2018-04-10T16:24:33Z","timestamp":1523377473000},"score":1,"degree":["Doutorado
        em Antropologia Social"],"resource":{"primary":{"URL":"http:\/\/www.teses.usp.br\/teses\/disponiveis\/8\/8134\/tde-08052017-100442\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.11606\/t.8.2017.tde-08052017-100442","relation":{}}}'
  recorded_at: Fri, 01 Sep 2023 03:59:09 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=N%C3%B3s%2Btemos%2Bnosso%2Bdireito%2Bque%2B%C3%A9%2Bo%2Bcerto:%2Bsignificados%2Bdas%2Blutas%2Bpor%2Breconhecimento%2Bentre%2Bcomunidades%2Bdo%2BVale%2Bdo%2BRibeira,%2BS%C3%A3o%2BPaulo%2B2017%2BUniversidade%2Bde%2BSao%2BPaulo,%2BAgencia%2BUSP%2Bde%2BGestao%2Bda%2BInformacao%2BAcademica%2B(AGUIA)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":16541,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T16:18:19Z","timestamp":1649002699701},"edition-number":"1","reference-count":0,"publisher":"Editora
        Scienza","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,10,3]]},"DOI":"10.26626\/978-85-5953-029-2.2017c0008.p.195-216","type":"book-chapter","created":{"date-parts":[[2017,10,3]],"date-time":"2017-10-03T09:54:21Z","timestamp":1507024461000},"page":"195-216","source":"Crossref","is-referenced-by-count":0,"title":["Avalia\u00e7\u00e3o
        de Habita\u00e7\u00f5es em Sistemas Construtivos Inovadores: Apresenta\u00e7\u00e3o
        de Metodologia e Resultados da An\u00e1lise de Documenta\u00e7\u00e3o"],"prefix":"10.26626","author":[{"given":"Mena","family":"Cristina
        Marcolino Mendes","sequence":"first","affiliation":[]},{"name":"USP - Universidade
        de S\u00e3o Paulo","sequence":"first","affiliation":[]},{"given":"Fabiana","family":"Lopes
        Oliveira","sequence":"additional","affiliation":[]},{"given":"Rosaria","family":"Ono","sequence":"additional","affiliation":[]},{"given":"Sheila","family":"Walbe
        Ornstein","sequence":"additional","affiliation":[]},{"given":"M\u00e1rcio","family":"Minto
        Fabricio","sequence":"additional","affiliation":[]},{"name":"USP - Universidade
        de S\u00e3o Paulo","sequence":"additional","affiliation":[]},{"name":"USP
        - Universidade de S\u00e3o Paulo","sequence":"additional","affiliation":[]},{"name":"USP
        - Universidade de S\u00e3o Paulo","sequence":"additional","affiliation":[]}],"member":"11172","published-online":{"date-parts":[[2017,10,3]]},"container-title":["Avalia\u00e7\u00e3o
        de Desempenho de Tecnologias Construtivas Inovadoras: Conforto Ambiental,
        Durabilidade e P\u00f3s-Ocupa\u00e7\u00e3o"],"deposited":{"date-parts":[[2017,10,4]],"date-time":"2017-10-04T16:20:58Z","timestamp":1507134058000},"score":69.39983,"resource":{"primary":{"URL":"http:\/\/editorascienza.com.br\/pdfs\/usp\/978_85_5953_029_2_capitulo_8.pdf"}},"issued":{"date-parts":[[2017,10,3]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.26626\/978-85-5953-029-2.2017c0008.p.195-216","published":{"date-parts":[[2017,10,3]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T19:56:00Z","timestamp":1649102160830},"edition-number":"1","reference-count":0,"publisher":"Editora
        Scienza","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,10,3]]},"DOI":"10.26626\/978-85-5953-029-2.2017c0011.p.293-304","type":"book-chapter","created":{"date-parts":[[2017,10,3]],"date-time":"2017-10-03T13:54:21Z","timestamp":1507038861000},"page[...]
