---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2F9780691229409
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.11 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,10,6]],"date-time":"2023-10-06T09:55:07Z","timestamp":1696586107348},"reference-count":0,"publisher":"Princeton
        University Press","isbn-type":[{"value":"9780691229409","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2022,12,31]]},"DOI":"10.1515\/9780691229409","type":"edited-book","created":{"date-parts":[[2022,11,24]],"date-time":"2022-11-24T21:16:13Z","timestamp":1669324573000},"source":"Crossref","is-referenced-by-count":8,"title":["The
        New Natural History of Madagascar"],"prefix":"10.1515","member":"374","published-online":{"date-parts":[[2022,9,2]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,11,24]],"date-time":"2022-11-24T21:16:16Z","timestamp":1669324576000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9780691229409\/html"}},"subtitle":[],"editor":[{"given":"Steven
        M.","family":"Goodman","sequence":"first","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2022,9,2]]},"ISBN":["9780691229409"],"references-count":0,"alternative-id":["10.1515\/9780691229409"],"URL":"http:\/\/dx.doi.org\/10.1515\/9780691229409","relation":{"is-identical-to":[{"id-type":"doi","id":"10.2307\/j.ctv2ks6tbb","asserted-by":"subject"}]},"published":{"date-parts":[[2022,9,2]]}}}'
  recorded_at: Sun, 08 Oct 2023 01:20:50 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2BNew%2BNatural%2BHistory%2Bof%2BMadagascar%2B2022%2BPrinceton%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":2206954,"items":[{"indexed":{"date-parts":[[2023,9,4]],"date-time":"2023-09-04T05:06:15Z","timestamp":1693803975046},"reference-count":0,"publisher":"Princeton
        University Press","isbn-type":[{"value":"9780691229409","type":"electronic"},{"value":"0691229406","type":"electronic"},{"value":"9780691222622","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,11,15]]},"DOI":"10.2307\/j.ctv2ks6tbb.9","type":"book-chapter","created":{"date-parts":[[2022,11,22]],"date-time":"2022-11-22T17:41:09Z","timestamp":1669138869000},"page":"1-38","source":"Crossref","is-referenced-by-count":1,"title":["THE
        HISTORY OF ZOOLOGICAL EXPLORATION OF MADAGASCAR"],"prefix":"10.2307","author":[{"given":"F.","family":"Andriamialisoa","sequence":"first","affiliation":[]},{"given":"O.","family":"Langrand","sequence":"additional","affiliation":[]}],"member":"1121","container-title":["The
        New Natural History of Madagascar"],"deposited":{"date-parts":[[2022,11,22]],"date-time":"2022-11-22T17:56:31Z","timestamp":1669139791000},"score":32.705143,"resource":{"primary":{"URL":"http:\/\/www.jstor.org\/stable\/10.2307\/j.ctv2ks6tbb.9"}},"issued":{"date-parts":[[2022,11,15]]},"ISBN":["978[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2307%2Fj.ctv2ks6tbb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.11 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
    [...]
