---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46936%2Fcpcy.proj.2019.50733%2F60006578
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:26:14Z","timestamp":1648977974398},"publisher":"Office
        of Scientific and Technical Information (OSTI)","award-start":{"date-parts":[[2019,4,15]]},"award":"50733","DOI":"10.46936\/cpcy.proj.2019.50733\/60006578","type":"grant","created":{"date-parts":[[2021,9,21]],"date-time":"2021-09-21T23:44:54Z","timestamp":1632267894000},"source":"Crossref","prefix":"10.46936","member":"960","project":[{"project-title":[{"title":"Single-particle
        cryo-EM structural analysis of Q-dependent transcription antitermination"}],"investigator":[{"given":"Chengyuan","family":"Wang","affiliation":[]},{"given":"Harry","family":"Scott","affiliation":[]},{"given":"Irina","family":"Novikova","affiliation":[]},{"given":"Vadim","family":"Molodtsov","affiliation":[]},{"given":"Zhou","family":"Yin","affiliation":[]}],"lead-investigator":[{"given":"Richard","family":"Ebright","affiliation":[]}],"funding":[{"type":"award","funder":{"name":"US
        Department of Energy","id":[{"id":"10.13039\/100000015","id-type":"DOI","asserted-by":"publisher"}]}}]}],"deposited":{"date-parts":[[2021,10,9]],"date-time":"2021-10-09T20:55:44Z","timestamp":1633812944000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.osti.gov\/award-doi-service\/biblio\/10.46936\/cpcy.proj.2019.50733\/60006578"}},"issued":{"date-parts":[[2019,4,15]]},"URL":"http:\/\/dx.doi.org\/10.46936\/cpcy.proj.2019.50733\/60006578","relation":{}}}'
  recorded_at: Thu, 22 Dec 2022 22:26:38 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Single-particle%2Bcryo-EM%2Bstructural%2Banalysis%2Bof%2BQ-dependent%2Btranscription%2Bantitermination%2B2021%2BOffice%2Bof%2BScientific%2Band%2BTechnical%2BInformation%2B(OSTI)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":5884,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T21:22:55Z","timestamp":1649020975559},"reference-count":0,"publisher":"IOP
        Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1088\/978-0-7503-3039-8ch2","type":"book-chapter","created":{"date-parts":[[2021,5,19]],"date-time":"2021-05-19T13:23:44Z","timestamp":1621430624000},"source":"Crossref","is-referenced-by-count":0,"title":["Sample
        preparation"],"prefix":"10.1088","member":"266","published-online":{"date-parts":[[2021,5]]},"container-title":["Single-particle
        Cryo-EM of Biological Macromolecules"],"deposited":{"date-parts":[[2021,5,19]],"date-time":"2021-05-19T13:23:47Z","timestamp":1621430627000},"score":36.07602,"resource":{"primary":{"URL":"https:\/\/iopscience.iop.org\/book\/978-0-7503-3039-8\/chapter\/bk978-0-7503-3039-8ch2"}},"editor":[{"given":"Robert
        M","family":"Glaeser","sequence":"first","affiliation":[{"name":"Department
        of Molecular and Cell Biology, University of California, Berkeley, CA 94720,
        USA Lawrence Berkeley National Lab, University of California, Berkeley, CA
        94720, USA"}]},{"given":"Eva","family":"Nogales","sequence":"additional","affiliation":[]},{"given":"Wah","family":"Chiu","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2021,5]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1088\/978-0-7503-3039-8ch2","published":{"date-parts":[[2021,5]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T01:12:03Z","timestamp":1648516323627},"reference-count":0,"publisher":"IOP
        Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1088\/978-0-7503-3039-8ch4","type":"book-chapter","created":{"date-parts":[[2021,5,19]],"date-time":"2021-05-19T13:23:44Z","timestamp":1621430624000},"source":"Crossref","is-referenced-by-count":0,"title":["Data
        processing"],"prefix":"1[...]
