---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46528%2Fjk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:30:40Z","timestamp":1648978240556},"reference-count":0,"publisher":"JUNI
        KHYAT","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.46528\/jk","type":"journal","created":{"date-parts":[[2020,6,5]],"date-time":"2020-06-05T19:06:33Z","timestamp":1591383993000},"source":"Crossref","is-referenced-by-count":0,"title":["Juni
        Khyat Journal"],"prefix":"10.46528","member":"25841","container-title":[],"original-title":[],"deposited":{"date-parts":[[2020,6,5]],"date-time":"2020-06-05T19:06:33Z","timestamp":1591383993000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.junikhyat.com\/"}},"subtitle":[],"short-title":["Juni
        Khyat"],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.46528\/jk","relation":{},"ISSN":["2278-4632"],"issn-type":[{"value":"2278-4632","type":"print"}],"subject":["General
        Medicine"]}}'
  recorded_at: Thu, 22 Dec 2022 22:42:33 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Juni%2BKhyat%2BJournal%2B2020%2BJUNI%2BKHYAT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1263913,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T23:01:01Z","timestamp":1648854061240},"reference-count":0,"publisher":"Akademie
        Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,12,31]]},"DOI":"10.1515\/9783050085159-013","type":"book-chapter","created":{"date-parts":[[2020,3,31]],"date-time":"2020-03-31T21:43:18Z","timestamp":1585690998000},"page":"482-511","source":"Crossref","is-referenced-by-count":0,"title":["Juni
        1861"],"prefix":"10.1515","member":"374","container-title":["Karl Marx \/
        Friedrich Engels: Briefwechsel, Juni 1860 bis Dezember 1861"],"link":[{"URL":"https:\/\/www.degruyter.com\/view\/book\/9783050085159\/10.1515\/9783050085159-013.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783050085159-013\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,20]],"date-time":"2021-04-20T17:49:44Z","timestamp":1618940984000},"score":33.61815,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783050085159-013\/html"}},"issued":{"date-parts":[[2020,12,31]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1515\/9783050085159-013","published":{"date-parts":[[2020,12,31]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T13:59:19Z","timestamp":1648994359682},"reference-count":0,"publisher":"Akademie
        Verlag","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,12,31]]},"DOI":"10.1515\/9783050085159-035","type":"book-chapter","created":{"date-parts":[[2020,3,31]],"date-time":"2020-03-31T21:43:18Z","timestamp":1585690998000},"page":"1218-1247","source":"Crossref","is-re[...]
