---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111%2Fread.1991.25.issue-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:23:31Z","timestamp":1648977811565},"reference-count":0,"publisher":"Wiley","issue":"1","license":[{"start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"content-version":"tdm","delay-in-days":8919,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Literacy"],"published-print":{"date-parts":[[1991,4]]},"DOI":"10.1111\/read.1991.25.issue-1","type":"journal-issue","created":{"date-parts":[[2007,2,10]],"date-time":"2007-02-10T00:26:03Z","timestamp":1171067163000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.1111","volume":"25","member":"311","container-title":["Literacy"],"original-title":[],"language":"en","link":[{"URL":"http:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.1111%2Fread.1991.25.issue-1","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2016,2,24]],"date-time":"2016-02-24T03:42:05Z","timestamp":1456285325000},"score":1,"resource":{"primary":{"URL":"http:\/\/doi.wiley.com\/10.1111\/read.1991.25.issue-1"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1991,4]]},"references-count":0,"journal-issue":{"issue":"1","published-print":{"date-parts":[[1991,4]]}},"URL":"http:\/\/dx.doi.org\/10.1111\/read.1991.25.issue-1","relation":{},"ISSN":["1741-4350","1741-4369"],"issn-type":[{"value":"1741-4350","type":"print"},{"value":"1741-4369","type":"electronic"}],"subject":["Language
        and Linguistics","Education"],"published":{"date-parts":[[1991,4]]}}}'
  recorded_at: Sun, 15 Jan 2023 19:24:21 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=1991%2BWiley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":160066,"items":[{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T12:37:05Z","timestamp":1648989425418},"publisher-location":"Dordrecht","reference-count":32,"publisher":"Springer
        Netherlands","isbn-type":[{"value":"9780792309710","type":"print"},{"value":"9789401137942","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1991]]},"DOI":"10.1007\/978-94-011-3794-2_11","type":"book-chapter","created":{"date-parts":[[2011,9,13]],"date-time":"2011-09-13T16:48:57Z","timestamp":1315932537000},"page":"301-426","source":"Crossref","is-referenced-by-count":1,"title":["Spacecraft
        Subsystems"],"prefix":"10.1007","author":[{"given":"James R.","family":"Wertz","sequence":"first","affiliation":[]},{"given":"Wiley
        J.","family":"Larson","sequence":"additional","affiliation":[]}],"member":"297","reference":[{"key":"11_CR1","volume-title":"Design
        of Geosynchronous Spacecraft","author":"BN Agrawal","year":"1986","unstructured":"Agrawal,
        Brij N. 1986. Design of Geosynchronous Spacecraft. Englewood Cliffs, NJ: Prentice-Hall,
        Inc."},{"key":"11_CR2","volume-title":"Long life performance of satellite
        thermal control surfaces","author":"JE Ahern","year":"1983","unstructured":"Ahern,
        J. E., R. L. Belcher, et al. 1983. Long life performance of satellite thermal
        control surfaces. Paper presented at the 18th American Institute of Aeronautics
        and Astronautics Thermophysics Conference, Montreal, Canada, and the 21st
        American Institute of Aeronautics and Astronautics Aerospace Science Meeting,
        Reno, Nevada."},{"key":"11_CR3","series-title":"ER 13997","volume-title":"Thermal
        Properties Handbook","author":"MJ Brown","year":"1965","unstructured":"Brown,
        M. J. and L. J. Gagola. 1965. Thermal Properties Handbook. ER 13997. Baltimore,
        MD: Martin Marietta Aerospace Group (internal publication)."},{"key":"11_CR4","volume-title":"Analysis
        and Design of Flight Vehicle Structures","author":"EF Bruhn","year":"1973","unstructured":"Bruhn,
        E. F. 1973. Analysis and Design of Flight Vehicle Structures. Tri-State Offset
        Co."},{"key":"11_CR5","volume-title":"Satellite Technology and Its Applications","author":"PK
        Chetty","year":"1988","unstructured":"Chetty, P. K. 1988. Satellite Technology
        and Its Applications. Blue Ridge Summit, PA:Tab Books Inc."},{"key":"11_CR6","unstructured":"Defense
        Communications Agency. DSCS III Interface-Guide."},{"key":"11_CR7","series-title":"DCA100\u201381-C-0044","volume-title":"Satellite
        Communications Reference Data Handbook","year":"1983","unstructured":"Edwards,
        Norman E. (ed.) Satellite Communications Reference Data Handbook. DCA100\u201381-C-0044,
        Vol. I and II, Computer Science Corporation, Falls Church, VA., 1983."},{"key":"11_CR8","volume-title":"The
        New Science of Strong Materials","author":"JE Gordon","year":"1984","unstructured":"Gordon,
        J. E. 1984. The New Science of Strong Materials, 2nd ed. Princeton, NJ: Princeton
        Univ. Press.","edition":"2"},{"key":"11_CR9","unstructured":"Hamilton, D.
        C., and W. R. Morgan, n.d. Radiant Exchange Configuration Factors. Tech. Note
        2836. Washington, DC: National Advisory Committee for Aeronautics."},{"key":"11_CR10","volume-title":"Modern
        Spacecraft Dynamics and Control","author":"MH Kaplan","year":"1976","unstructured":"Kaplan,
        Marshall H. 1976. Modern Spacecraft Dynamics and Control. New York: John Wiley
        & Sons."},{"key":"11_CR11","volume-title":"General Specification for Moving
        Mechanical Assemblies for Space and Launch Vehicles","author":"MIL-A-83577","year":"1988","unstructured":"MIL-A-83577.
        1988. General Specification for Moving Mechanical Assemblies for Space and
        Launch Vehicles."},{"key":"11_CR12","volume-title":"Satellite Data Link Standard
        (SDLS)","author":"MIL-STD-1582","year":"1984","unstructured":"MIL-STD-1582.1984.
        Satellite Data Link Standard (SDLS)."},{"key":"11_CR13","volume-title":"Communications
        Satellite Handbook","author":"WL Morgan","year":"1989","unstructured":"Morgan,
        Walter L. and Gary D. Gordon. 1989. Communications Satellite Handbook. New
        York: John Wiley & Sons."},{"key":"11_CR14","volume-title":"Astronautics Structures
        Manual","author":"National Aeronautics and Space Administration","year":"1975","unstructured":"National
        Aeronautics and Space Administration. 1975. Astronautics Structures Manual,
        Marshall Space Flight Center, Huntsville, AL: National Aeronautics and Space
        Administration."},{"key":"11_CR15","series-title":"B72\u201310464","volume-title":"Phase-Change
        Materials Handbook","author"[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Literacy,%20Wiley,%20,%201991%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":8932,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T05:50:09Z","timestamp":1648533009550},"edition-number":"1","reference-count":0,"publisher":"Wiley","isbn-type":[{"value":"9781119261377","type":"print"},{"value":"9781119261407","type":"electronic"}],"license":[{"start":{"date-parts":[[2019,10,7]],"date-time":"2019-10-07T00:00:00Z","timestamp":1570406400000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2019,10,11]]},"DOI":"10.1002\/9781119261407","type":"book","created":{"date-parts":[[2019,9,4]],"date-time":"2019-09-04T06:50:18Z","timestamp":1567579818000},"source":"Crossref","is-referenced-by-count":0,"title":["The
        Wiley Handbook of Adult Literacy"],"prefix":"10.1002","member":"311","published-online":{"date-parts":[[2019,10,7]]},"link":[{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1002\/9781119261407","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/pdf\/10.1002\/9781119261407","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,9,4]],"date-time":"2019-09-04T06:50:19Z","timestamp":1567579819000},"score":20.122818,"resource":{"primary":{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/book\/10.1002\/9781119261407"}},"editor":[{"given":"Dolores","family":"Perin","sequence":"first","affiliation":[]}],"issued":{"date-parts":[[2019,10,7]]},"ISBN":["9781119261377","9781119261407"],"references-count":0,"alternative-id":["10.1002\/9781119261407"],"URL":"http:\/\/dx.doi.org\/10.1002\/9781119261407","published":{"date-parts":[[2019,10,7]]}},{"indexed":{"date-parts":[[2023,1,12]],"date-time":"2023-01-12T01:25:50Z","timestamp":1673486750947},"publisher-location":"Hoboken,
        NJ, USA","reference-count":0,"publisher":"John Wiley & Sons, Inc.","isbn-type":[{"value":"9781118150528","type":"electronic"},{"value":"9780471615286","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published[...]
