---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2Ftext.2001.011
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,2,3]],"date-time":"2024-02-03T20:40:47Z","timestamp":1706992847468},"reference-count":61,"publisher":"Walter
        de Gruyter GmbH","issue":"4","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2001,1,18]]},"DOI":"10.1515\/text.2001.011","type":"journal-article","created":{"date-parts":[[2006,4,18]],"date-time":"2006-04-18T19:13:40Z","timestamp":1145387620000},"source":"Crossref","is-referenced-by-count":6,"title":["A
        watermelon without seeds: A case study in rhetorical rationality"],"prefix":"10.1515","volume":"21","author":[{"given":"YAIR","family":"NEUMAN","sequence":"first","affiliation":[]},{"given":"YOTAM","family":"LURIE","sequence":"additional","affiliation":[]},{"given":"MICHELE","family":"ROSENTHAL","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"p_1_128","unstructured":"Aran,
        G. (1991). Jewish Zionist fundamentalism: The bloc of the faithful in Israel
        (Gush Emunim). In Fundamentalisms Observed, M. E. Marty and R. S. Appleby
        (eds.), 265-344. Chicago: University of Chicago Press."},{"key":"p_2_129","unstructured":"(1995).
        What''s so funny about fundamentalism? In Fundamentalisms Comprehended, M.
        E. Marty and R. S. Appleby (eds.), 321-354. Chicago: University of Chicago
        Press."},{"key":"p_3_130","unstructured":"Aristotle (1971). The Ethics. Harmondsworth:
        Penguin."},{"key":"p_4_131","unstructured":"(1991). On Rhetoric. Oxford: Oxford
        University Press."},{"key":"p_5_132","unstructured":"(1997). Topics. Oxford:
        Clarendon Press."},{"key":"p_6_133","unstructured":"Bakhtin, M. (1981). The
        Dialogical Imagination. Austin: University of Texas Press."},{"key":"p_7_134","doi-asserted-by":"crossref","unstructured":"Barbe,
        K. (1995). Irony in Context. Amsterdam: Benjamins.","DOI":"10.1075\/pbns.34"},{"issue":"2","key":"p_8_135","doi-asserted-by":"crossref","first-page":"184","DOI":"10.1177\/0196859901025002007","volume":"25","author":"Bekerman
        Z.","year":"2001","journal-title":"Journal of Communication Inquiry"},{"key":"p_9_136","unstructured":"Billig,
        M. (1987). Arguing and Thinking: A Rhetorical Approach to Social Psychology.
        Cambridge: Cambridge University Press."},{"key":"p_10_137","unstructured":"Boone,
        K. C. (1989). The Bible Tells Them So: The Discourse of Protestant Fundamentalism.
        Albany: State University of New York Press."},{"key":"p_11_138","unstructured":"Booth,
        W. C. (1995). The rhetoric of fundamentalist conversion. In Fundamentalisms
        Comprehended, M. E. Marty and R. S. Appleby (eds.), 367-398. Chicago: University
        of Chicago Press."},{"key":"p_12_139","unstructured":"Brown, H. I. (1988).
        Rationality. London: Routledge."},{"key":"p_13_140","unstructured":"Carnap,
        R. (1967). The Logical Structure of the World. London: Routledge."},{"key":"p_14_141","unstructured":"Davidson,
        D. (1984). Inquiries into Truth and Interpretation. Oxford: Clanderon."},{"key":"p_15_142","unstructured":"Dayan,
        Arye (1999). Hamaayan Hametgaber. Sipora Shel T''nvat Shas. [The Story of
        Shas.] Jerusalem: Keter."},{"key":"p_16_143","unstructured":"Descartes, R.
        (1979). Meditations on First Philosophy. Indianapolis: Hackett Publishing."},{"key":"p_17_144","unstructured":"Dilthey,
        W. (1976). Selected Writings. Cambridge: Cambridge University Press."},{"key":"p_18_145","doi-asserted-by":"crossref","unstructured":"Eco,
        U. (1992). Interpretation and history. In Interpretation and Overinterpretation,
        S. Collini (ed.), 23-45. Cambridge: Cambridge University Press.","DOI":"10.1017\/CBO9780511627408.002"},{"key":"p_19_146","unstructured":"Elster,
        J. (1991). Sour Grapes: Studies in the Subversion of Rationality. Cambridge\/New
        York: Cambridge University Press."},{"key":"p_20_147","unstructured":"Fairclough,
        N. (1992). Discourse and Social Change. UK: Polity Press."},{"key":"p_21_148","unstructured":"Feyerabend,
        P. (1978). Against method. In London: New Loft Books."},{"key":"p_22_149","unstructured":"Foucault,
        M. (1977) The Order of Things. London: Tavistock."},{"key":"p_23_150","unstructured":"Friedman,
        M. (1994). Habad as messianic fundamentalism: From local particularism to
        univers[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=A%2Bwatermelon%2Bwithout%2Bseeds:%2BA%2Bcase%2Bstudy%2Bin%2Brhetorical%2Brationality%2B2001%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":92609,"items":[{"indexed":{"date-parts":[[2023,9,12]],"date-time":"2023-09-12T10:46:52Z","timestamp":1694515612116},"reference-count":0,"publisher":"Bloomsbury
        Academic","isbn-type":[{"value":"9781628927597","type":"print"},{"value":"9781628927610","type":"print"},{"value":"9781628927627","type":"electronic"},{"value":"9781628927634","type":"electronic"},{"value":"9781501323591","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.5040\/9781501323591.ch-006","type":"book-chapter","created":{"date-parts":[[2016,10,28]],"date-time":"2016-10-28T11:16:55Z","timestamp":1477653415000},"source":"Crossref","is-referenced-by-count":1,"title":["Meaningfulness,
        Eternity, and Theism\n                  Originally appeared in Beatrix Himmelmann,
        ed. On Meaning in Life (Boston\/Berlin: De Gruyter, 2013): 99\u2013112. Copyright
        \u00a9 2013, Walter de Gruyter GmbH."],"prefix":"10.5040","member":"2984","container-title":["God
        and Meaning : New Essays"],"deposited":{"date-parts":[[2023,9,11]],"date-time":"2023-09-11T21:07:09Z","timestamp":1694466429000},"score":31.711815,"resource":{"primary":{"URL":"https:\/\/www.bloomsburycollections.com\/monograph-detail?docid=b-9781501323591&tocid=b-9781501323591-chapter6"}},"issued":{"date-parts":[[null]]},"ISBN":["9781628927597","9781628927610","9781628927627","9781628927634","9781501323591"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5040\/9781501323591.ch-006"},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T20:33:49Z","timestamp":1648586029722},"publisher-location":"Berlin,
        Boston","reference-count":0,"publisher":"DE GRUYTER","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.1515\/9783110847864-007","type":"book-chapter","created":{"date-parts":[[2015,4,28]],"date-time":"2015-04-28T17:01:42Z","timestamp":1430240502000},"source":"Crossref","is-referenced-by-count":6,"title":["Dr.
        Walter de Gruyter"],"prefix":"10.1515","member":"374","container-title":["Der
        Verlag Walter de Gruyter &amp; Co."],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110847864-007\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,21]],"date-time":"2021-04-21T03:32:34Z","timestamp":1618975954000},"score":28.752756,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110847864-007\/html"}},"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1515\/9783110847864-007"},{"indexed":{"date-parts":[[2023,4,19]],"date-time":"2023-04-19T04:58:03Z","timestamp":1681880283426},"reference-count":0,"publisher":"De
        Gruyter","isbn-type":[{"value":"9783110727968","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2023,1,16]]},"DOI":"10.1515\/9783110727968-017","type":"book-chapter","created":{"date-parts":[[2023,1,19]],"date-time":"2023-01-19T04:41:57Z","timestamp":1674103317000},"page":"369-396","source":"Crossref","is-referenced-by-count":0,"title":["17
        How Can a Family Control its Business Without Ownership Influence? A Case
        Study of Suzuki Corp"],"prefix":"10.1515","author":[{"given":"Toshio","family":"Goto","sequence":"first","affiliation":[]}],"member":"374","container-title":["De
        Gruyter Handbook of Business Families"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110727968-017\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110727968-017\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2023,4,18]],"date-time":"2023-04-18T10:31:50Z","timestamp":1681813910000},"score":26.955399,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110727968-017\/html"}},"issued":{"date-parts":[[2023,1,16]]},"ISBN":["9783110727968"],"references-count":0,"alternative-id":["10.1515\/9783110727968-017","10.1515\/9783110727968"],"URL":"http:\/\/dx.doi.org\/10.1515\/9783110727968-017","published":{"date-parts":[[2023,1,16]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T18:12:05Z","timestamp":1649182325645},"publisher-location":"Dordrecht","reference-count":31,"publisher":"Springer
        Netherlands","isbn-type":[{"value":"9789048153213","type":"print"},{"value":"9789401710701","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1999]]},"DOI":"10.1007\/978-94-017-1070-1_7","type":"book-chapter","created":{"date-parts":[[2013,1,21]],"date-time":"2013-01-21T18:52:34Z","timestamp":1358794354000},"page":"105-121","source":"Crossref","is-referenced-by-count":0,"title":["Presuppositional
        and Rhetorical Effects of Focus Particles: The Case of \u2018Even\u2019"],"prefix":"10.1007","author":[{"given":"Fernando
        Garc\u00eda","family":"Murga","sequence":"first","affiliation":[]}],"member":"297","reference":[{"key":"7_CR1","volume-title":"L
        argumentation dans la langue","author":"JC Anscombre","year":"1983","unstructured":"Anscombre,
        J.C. & Ducrot, O., 1983: L \u2018argumentation dans la langue. Bruxelles,
        Mardaga."},{"key":"7_CR2","doi-asserted-by":"crossref","first-page":"79","DOI":"10.1017\/S0022226700010033","volume":"21","author":"D.
        Bolinger","year":"1985","unstructured":"Bolinger, D., 1985: \u201cTwo views
        of accent\u201d, Journal of Linguistics 21: 79\u2013123.","journal-title":"Jo[...]
