---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46409%2F001.rlpt5688
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:10:25Z","timestamp":1648977025943},"reference-count":0,"publisher":"University
        of St. Augustine for Health Sciences Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["SJOT"],"DOI":"10.46409\/001.rlpt5688","type":"journal-volume","created":{"date-parts":[[2021,12,31]],"date-time":"2021-12-31T05:46:13Z","timestamp":1640929573000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.46409","volume":"1","member":"23747","container-title":["Fall
        2020, Innaugural Issue","Student Journal of Occupational Therapy"],"original-title":[],"deposited":{"date-parts":[[2021,12,31]],"date-time":"2021-12-31T05:46:13Z","timestamp":1640929573000},"score":1,"resource":{"primary":{"URL":"https:\/\/soar.usa.edu\/sjot\/vol1\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.46409\/001.rlpt5688","archive":["Internet
        Archive"],"relation":{},"ISSN":["2689-1662"],"issn-type":[{"value":"2689-1662","type":"electronic"}],"subject":["General
        Computer Science"]}}'
  recorded_at: Wed, 04 Jan 2023 05:35:38 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Fall%2B2020,%2BInnaugural%2BIssue%2B2021%2BUniversity%2Bof%2BSt.%2BAugustine%2Bfor%2BHealth%2BSciences%2BLibrary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":187484,"items":[{"indexed":{"date-parts":[[2022,8,3]],"date-time":"2022-08-03T05:01:30Z","timestamp":1659502890001},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,9,23]]},"abstract":"<p>For
        Augustine, angels became demons in their failure to love God above all. This
        chapter gives an overview of that fall, beginning with Augustine\u2019s understanding
        of evil as pride\u2019s apostasy from God, moving on to examine two issues
        that confront him concerning the devil\u2019s fall. The first is the question
        of whether that fall can have any cause, which is explored in terms of Augustine\u2019s
        basic commitment to the non-competitive relationship between the created will
        and the God that creates and empowers it. The second issue is Augustine\u2019s
        understanding of when and in what conditions the devil fell, and the development
        of Augustine\u2019s conviction that all angels must have been established
        in the good at their creation. What both discussions clarify, however, is
        that these issues arise because of how difficult it is to maintain the logical
        consequences of the demons\u2019 lack of animal bodies. This fundamental difference
        of embodiment between demons and humans is made clear in Augustine\u2019s
        treatment of the story of the fall of Adam and Eve, where the comparison of
        the fall of the angels to the human fall reveals a crucial component of Augustine\u2019s
        demonology: demons must assume some kind of embodiment in order to interact
        with humans in history.<\/p>","DOI":"10.1093\/oso\/9780192846037.003.0003","type":"book-chapter","created":{"date-parts":[[2021,10,20]],"date-time":"2021-10-20T19:39:19Z","timestamp":1634758759000},"page":"53-93","source":"Crossref","is-referenced-by-count":0,"title":["The
        Fall of the Angels"],"prefix":"10.1093","author":[{"given":"Gregory D.","family":"Wiebe","sequence":"first","affiliation":[]}],"member":"286","published-online":{"date-parts":[[2021,10,21]]},"container-title":["Fallen
        Angels in the Theology of St Augustine"],"original-title":["The Fall of the
        Angels"],"deposited":{"date-parts":[[2022,8,2]],"date-time":"2022-08-02T20:42:47Z","timestamp":1659472967000},"score":34.9696,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/book\/39169\/chapter\/338633947"}},"issued":{"date-parts":[[2021,9,23]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/oso\/9780192846037.003.0003","published":{"date-parts":[[2021,9,23]]}},{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T00:05:11Z","timestamp":1648685111156},"reference-count":0,"publisher":"University
        of South Carolina Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,7,17]]},"DOI":"10.2307\/j.ctvrxk35v.10","type":"book-chapter","created":{"date-parts":[[2020,7,21]],"date-time":"2020-07-21T21:00:42Z","timestamp":1595365242000},"page":"39-50","source":"Cross[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Fall%202020,%20Innaugural%20Issue,%20University%20of%20St.%20Augustine%20for%20Health%20Sciences%20Library,%20,%202021%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":7849,"items":[{"indexed":{"date-parts":[[2022,9,14]],"date-time":"2022-09-14T08:26:45Z","timestamp":1663144005462},"edition-number":"1","reference-count":0,"publisher":"Oxford
        University Press","isbn-type":[{"value":"9780192846037","type":"print"},{"value":"9780191938405","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,9,23]]},"abstract":"<p>This
        book ventures to describe Augustine of Hippo\u2019s understanding of demons,
        including the theology, angelology, and anthropology that contextualize it.
        Demons are, for Augustine as for the Psalmist (95:5 LXX) and the Apostle (1
        Cor. 10:20), the \u2018gods of the nations\u2019. This means that Augustine\u2019s
        demons are best understood neither when they are \u2018spiritualized\u2019
        as personifications of psychological struggles nor in terms of materialist
        contagions that undergird a superstitious moralism. Rather, because the gods
        of the nations are the paradigm of demonic power and influence over humanity,
        Augustine sees the Christian\u2019s moral struggle against them within broader
        questions of social bonds, cultural form, popular opinion, philosophical investigation,
        liturgical movement, and so forth. In a word, Augustine\u2019s demons have
        a <italic>religious<\/italic> significance, particularly in its Augustinian
        sense of bonds and duties between persons, and between persons and that which
        is divine. Demons are a highly integrated component of his broader theology,
        rooted in his conception of angels as the ministers of all creation under
        God, and informed by the doctrine of evil as privation and his understanding
        of the fall; they take shape in his thoughts on human embodiment, desire,
        vision[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Student%20Journal%20of%20Occupational%20Therapy,%20University%20of%20St.%20Augustine%20for%20Health%20Sciences%20Library,%20,%202021%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
   [...]
