---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2Fcog.2007.005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,11,23]],"date-time":"2022-11-23T11:12:19Z","timestamp":1669201939923},"reference-count":15,"publisher":"Walter
        de Gruyter GmbH","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007,1,19]]},"DOI":"10.1515\/cog.2007.005","type":"journal-article","created":{"date-parts":[[2007,9,25]],"date-time":"2007-09-25T11:32:28Z","timestamp":1190719948000},"source":"Crossref","is-referenced-by-count":47,"title":["The
        semantic categories of cutting and breaking events: A crosslinguistic perspective"],"prefix":"10.1515","volume":"18","author":[{"given":"Asifa","family":"Majid","sequence":"first","affiliation":[]},{"given":"Melissa","family":"Bowerman","sequence":"additional","affiliation":[]},{"given":"Miriam
        van","family":"Staden","sequence":"additional","affiliation":[]},{"given":"James
        S","family":"Boster","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"p_8","first-page":"133","author":"Bowerman
        Melissa","year":"1989","journal-title":"Baltimore: Brooks"},{"key":"p_10","first-page":"33","author":"Bowerman
        Melissa","year":"2005","journal-title":"Mahwah, NJ: Lawrence Erlbaum"},{"key":"p_17","first-page":"449","author":"Clark
        Eve V","year":"1976","journal-title":"CA: Anna Libri"},{"key":"p_23","doi-asserted-by":"crossref","first-page":"257","DOI":"10.1075\/sl.13.2.03dry","volume":"13","author":"Dryer
        Matthew S","year":"1989","journal-title":"Studies in Language"},{"key":"p_27","doi-asserted-by":"publisher","DOI":"10.1207\/s15327817la0101_2"},{"key":"p_33","first-page":"48","author":"Guerssel
        Mohamed","year":"1985","journal-title":"Chicago Linguistic Society"},{"key":"p_45","first-page":"885","author":"Majid
        Asifa","year":"2004","journal-title":"Chicago, IL: Cognitive Science Soc[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2Bsemantic%2Bcategories%2Bof%2Bcutting%2Band%2Bbreaking%2Bevents:%2BA%2Bcrosslinguistic%2Bperspective%2B2007%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":33058,"items":[{"indexed":{"date-parts":[[2022,4,20]],"date-time":"2022-04-20T03:42:40Z","timestamp":1650426160378},"reference-count":0,"publisher":"BRILL","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,6,25]]},"DOI":"10.1163\/9789004362826_005","type":"book-chapter","created":{"date-parts":[[2019,8,2]],"date-time":"2019-08-02T03:04:15Z","timestamp":1564715055000},"page":"71-98","source":"Crossref","is-referenced-by-count":0,"title":["The
        Crosslinguistic Categorization of Everyday Events: The Case of \u201cCutting
        and Breaking\u201d"],"prefix":"10.1163","member":"50","container-title":["Ten
        Lectures on Language, Cognition, and Language Acquisition"],"link":[{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/brill.com\/downloadpdf\/title\/35672","content-type":"text\/html","content-version":"vor","intended-application":"syndication"}],"deposited":{"date-parts":[[2022,4,20]],"date-time":"2022-04-20T03:12:31Z","timestamp":1650424351000},"score":39.246777,"resource":{"primary":{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml"}},"issued":{"date-parts":[[2018,6,25]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1163\/9789004362826_005","published":{"date-parts":[[2018,6,25]]}},{"indexed":{"date-parts":[[2022,4,4]],"date-time":"2022-04-04T17:35:49Z","timestamp":1649093749304},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.1075\/tsl.100.13and","type":"book-chapter","created":{"date-parts":[[2014,3,23]],"date-time":"2014-03-23T22:21:38Z","timestamp":1395613298000},"page":"183-200","source":"Crossref","is-referenced-by-count":2,"title":["The
        semantic role of agentive control in Hungarian placement events"],"prefix":"10.1075","author":[{"given":"Attila","family":"Andics","sequence":"first","affiliation":[]}],"member":"1757","container-title":["Typological
        Studies in Language","Events of Putting and Taking"],"deposited":{"date-parts":[[2014,7,10]],"date-time":"2014-07-10T20:48:40Z","timestamp":1405025320000},"score":35.58442,"resource":{"primary":{"URL":"https:\/\/benjamins.com\/catalog\/tsl.100.13and"}},"issued":{"date-parts":[[2012]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1075\/tsl.100.13and","ISSN":["0167-7373"],"issn-type":[{"value":"0167-7373","type":"print"}],"published":{"date-parts":[[2012]]}},{"indexed":{"date-parts":[[2022,11,23]],"date-time":"2022-11-23T11:16:08Z","timestamp":1669202168118},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.1075\/tsl.100.20kop","type":"book-chapter","created":{"date-parts":[[2014,3,23]],"date-time":"2014-03-23T18:21[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Cognitive%20Linguistics,%20Walter%20de%20Gruyter%20GmbH,%20,%202007%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":73292,"items":[{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T17:25:05Z","timestamp":1648920305421},"reference-count":0,"publisher":"Mohr
        Siebeck","isbn-type":[{"value":"9783161544347","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2016]]},"DOI":"10.1628\/978-3-16-154434-7","type":"book","created":{"date-parts":[[2018,10,4]],"date-time":"2018-10-04T15:18:37Z","timestamp":1538666317000},"source":"Crossref","is-referenced-by-count":1,"title":["Walter
        de Gruyter"],"prefix":"10.1628","author":[{"given":"Angelika","family":"K\u00f6nigseder","sequence":"first","affiliation":[]}],"member":"629","deposited":{"date-parts":[[2018,10,4]],"date-time":"2018-10-04T15:39:40Z","timestamp":1538667580000},"score":29.880474,"resource":{"primary":{"URL":"https:\/\/mohrsiebeck.com\/10.1628\/978-3-16-154434-7"}},"issued":{"date-parts":[[2016]]},"ISBN":["9783161544347"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1628\/978-3-16-154434-7","published":{"date-parts":[[2016]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T02:02:41Z","timestamp":1649124161456},"reference-count":0,"publisher":"DE
        GRUYTER","isbn-type":[{"value":"9783110166996","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1999,12,31]]},"DOI":"10.1515\/9783110816662","type":"book","created":{"date-parts":[[2013,6,27]],"date-time":"2013-06-27T20:20:22Z","timestamp":1372364422000},"source":"Crossref","is-referenced-by-count":0,"title":["Walter
        de Gruyter Publishers"],"prefix":"10.1515","member":"374","published-online":{"date-parts":[[1999,12,31]]},"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110816662\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,4,21]],"date-time":"2021-04-21T03:20:22Z","timestamp":1618975222000},"score":27.373829,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1515\/9783110816662\/html"}},"subtitle":["1749-1999"],"editor":[{"given":"Anne-Katrin","family":"Ziesak","sequence":"first","affiliation":[]}],"issued":{"date-parts":[[1999,12,31]]},"ISBN":["9783110166996"],"references-count":0,"alternative-id":["10.1515\/9783110816662"],"URL":"http:\/\/dx.doi.org\/10.1515\/9783110816662","published":{"date-parts":[[1999,12,31]]}},{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T05:01:56Z","timestamp":1648875716114},"reference-count":0,"publisher":"DE
        GRUYTER","isbn-type":[{"value":"9783110166989","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1999,12,31]]},"DOI":"10.1515\/9783110816655","type":"book","created":{"date[...]
