---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515%2Fcog.2007.005
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,3,28]],"date-time":"2024-03-28T11:11:35Z","timestamp":1711624295359},"reference-count":15,"publisher":"Walter
        de Gruyter GmbH","issue":"2","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007,1,19]]},"DOI":"10.1515\/cog.2007.005","type":"journal-article","created":{"date-parts":[[2007,9,25]],"date-time":"2007-09-25T11:32:28Z","timestamp":1190719948000},"source":"Crossref","is-referenced-by-count":84,"title":["The
        semantic categories of cutting and breaking events: A crosslinguistic perspective"],"prefix":"10.1515","volume":"18","author":[{"given":"Asifa","family":"Majid","sequence":"first","affiliation":[]},{"given":"Melissa","family":"Bowerman","sequence":"additional","affiliation":[]},{"given":"Miriam
        van","family":"Staden","sequence":"additional","affiliation":[]},{"given":"James
        S","family":"Boster","sequence":"additional","affiliation":[]}],"member":"374","reference":[{"key":"p_8","first-page":"133","author":"Bowerman
        Melissa","year":"1989","journal-title":"Baltimore: Brooks"},{"key":"p_10","first-page":"33","author":"Bowerman
        Melissa","year":"2005","journal-title":"Mahwah, NJ: Lawrence Erlbaum"},{"key":"p_17","first-page":"449","author":"Clark
        Eve V","year":"1976","journal-title":"CA: Anna Libri"},{"key":"p_23","doi-asserted-by":"crossref","first-page":"257","DOI":"10.1075\/sl.13.2.03dry","volume":"13","author":"Dryer
        Matthew S","year":"1989","journal-title":"Studies in Language"},{"key":"p_27","doi-asserted-by":"publisher","DOI":"10.1207\/s15327817la0101_2"},{"key":"p_33","first-page":"48","author":"Guerssel
        Mohamed","year":"1985","journal-title":"Chicago Linguistic Society"},{"key":"p_45","first-page":"885","author":"Majid
        Asifa","year":"2004","journal-title":"Chicago, IL: Cognitive Science Soc[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=The%2Bsemantic%2Bcategories%2Bof%2Bcutting%2Band%2Bbreaking%2Bevents:%2BA%2Bcrosslinguistic%2Bperspective%2B2007%2BWalter%2Bde%2BGruyter%2BGmbH
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":36730,"items":[{"indexed":{"date-parts":[[2024,3,24]],"date-time":"2024-03-24T00:22:46Z","timestamp":1711239766192},"reference-count":0,"publisher":"BRILL","isbn-type":[{"value":"9789004362826","type":"electronic"},{"value":"9789004353022","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2018,6,25]]},"DOI":"10.1163\/9789004362826_005","type":"book-chapter","created":{"date-parts":[[2019,8,2]],"date-time":"2019-08-02T03:04:15Z","timestamp":1564715055000},"page":"71-98","source":"Crossref","is-referenced-by-count":0,"title":["The
        Crosslinguistic Categorization of Everyday Events: The Case of \u201cCutting
        and Breaking\u201d"],"prefix":"10.1163","author":[{"given":"Melissa","family":"Bowerman","sequence":"first","affiliation":[]}],"member":"50","container-title":["Ten
        Lectures on Language, Cognition, and Language Acquisition"],"link":[{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml","content-type":"text\/html","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/brill.com\/downloadpdf\/title\/35672","content-type":"text\/html","content-version":"vor","intended-application":"syndication"}],"deposited":{"date-parts":[[2024,3,23]],"date-time":"2024-03-23T05:40:37Z","timestamp":1711172437000},"score":37.02778,"resource":{"primary":{"URL":"https:\/\/brill.com\/view\/book\/9789004362826\/BP000012.xml"}},"issued":{"date-parts":[[2018,6,25]]},"ISBN":["9789004362826","9789004353022"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1163\/9789004362826_005","published":{"date-parts":[[2018,6,25]]}},{"indexed":{"date-parts":[[2023,7,24]],"date-time":"2023-07-24T12:51:08Z","timestamp":1690203068032},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.1075\/tsl.100.13and","type":"book-chapter","created":{"date-parts":[[2014,3,23]],"date-time":"2014-03-23T22:21:38Z","timestamp":1395613298000},"page":"183-200","source":"Crossref","is-referenced-by-count":3,"title":["The
        semantic role of agentive control in Hungarian placement events"],"prefix":"10.1075","author":[{"given":"Attila","family":"Andics","sequence":"first","affiliation":[]}],"member":"1757","container-title":["Typological
        Studies in Language","Events of Putting and Taking"],"deposited":{"date-parts":[[2014,7,10]],"date-time":"2014-07-10T20:48:40Z","timestamp":1405025320000},"score":35.192394,"resource":{"primary":{"URL":"https:\/\/benjamins.com\/catalog\/tsl.100.13and"}},"issued":{"date-parts":[[2012]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1075\/tsl.100.13and","ISSN":["0167-7373"],"issn-type":[{"value":"0167-7373","type":"print"}],"published":{"date-parts":[[2012]]}},{"indexed":{"date-parts":[[2023,7,24]],"date-time":"2023-07-24T12:51:27Z","timestamp":1690203087487},"publisher-location":"Amsterdam","reference-count":0,"publisher":"John
        Benjamins Publishing Company","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2012]]},"DOI":"10.1075\/tsl.100.20kop","type":"book-chapter","created":{"date-parts":[[2014,3,23]],"date-time":"2014-03[...]
