---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.46409%2F001.rlpt5688
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:10:25Z","timestamp":1648977025943},"reference-count":0,"publisher":"University
        of St. Augustine for Health Sciences Library","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["SJOT"],"DOI":"10.46409\/001.rlpt5688","type":"journal-volume","created":{"date-parts":[[2021,12,31]],"date-time":"2021-12-31T05:46:13Z","timestamp":1640929573000},"source":"Crossref","is-referenced-by-count":0,"title":[],"prefix":"10.46409","volume":"1","member":"23747","container-title":["Fall
        2020, Innaugural Issue","Student Journal of Occupational Therapy"],"original-title":[],"deposited":{"date-parts":[[2021,12,31]],"date-time":"2021-12-31T05:46:13Z","timestamp":1640929573000},"score":1,"resource":{"primary":{"URL":"https:\/\/soar.usa.edu\/sjot\/vol1\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.46409\/001.rlpt5688","archive":["Internet
        Archive"],"relation":{},"ISSN":["2689-1662"],"issn-type":[{"value":"2689-1662","type":"electronic"}],"subject":[]}}'
  recorded_at: Sun, 30 Jun 2024 00:24:08 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Fall%2B2020,%2BInnaugural%2BIssue%2B2021%2BUniversity%2Bof%2BSt.%2BAugustine%2Bfor%2BHealth%2BSciences%2BLibrary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":198222,"items":[{"indexed":{"date-parts":[[2024,5,28]],"date-time":"2024-05-28T08:10:50Z","timestamp":1716883850359},"edition-number":"1","reference-count":0,"publisher":"Oxford
        University PressOxford","isbn-type":[{"value":"0192846035","type":"print"},{"value":"9780192846037","type":"print"},{"value":"9780191938405","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021,9,23]]},"abstract":"<jats:title>Abstract<\/jats:title>\n               <jats:p>For
        Augustine, angels became demons in their failure to love God above all. This
        chapter gives an overview of that fall, beginning with Augustine\u2019s understanding
        of evil as pride\u2019s apostasy from God, moving on to examine two issues
        that confront him concerning the devil\u2019s fall. The first is the question
        of whether that fall can have any cause, which is explored in terms of Augustine\u2019s
        basic commitment to the non-competitive relationship between the created will
        and the God that creates and empowers it. The second issue is Augustine\u2019s
        understanding of when and in what conditions the devil fell, and the development
        of Augustine\u2019s conviction that all angels must have been established
        in the good at their creation. What both discussions clarify, however, is
        that these issues arise because of how difficult it is to maintain the logical
        consequences of the demons\u2019 lack of animal bodies. This fundamental difference
        of embodiment between demons and humans is made clear in Augustine\u2019s
        treatment of the story of the fall of Adam and Eve, where the comparison of
        the fall of the angels to the human fall reveals a crucial component of Augustine\u2019s
        demonology: demons must assume some kind of embodiment in order to interact
        with humans in history.<\/jats:p>","DOI":"10.1093\/oso\/9780192846037.003.0003","type":"book-chapter","created":{"date-parts":[[2021,10,20]],"date-time":"2021-10-20T19:39:19Z","timestamp":1634758759000},"page":"53-93","source":"Crossref","is-referenced-by-count":0,"title":["The
        Fall of the Angels"],"prefix":"10.1093","author":[{"given":"Gregory D.","family":"Wiebe","sequence":"first","affiliation":[]}],"member":"286","container-title":["Fallen
        Angels in the Theology of St Augustine"],"language":"en","link":[{"URL":"https:\/\/academic.oup.com\/book\/chapter-pdf\/57941581\/oso-9780192846037-chapter-3.pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2024,5,28]],"date-time":"2024-05-28T07:39:55Z","timestamp":1716881995000},"score":29.360783,"resource":{"primary":{"URL":"https:\/\/academic.oup.com\/book\/39169\/chapter\/338633947"}},"issued":{"date-parts":[[2021,9,23]]},"ISBN":["0192846035","9780192846037","9780191938405"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/oso\/9780192846037.003.0003","published":{"date-parts":[[2021,9,23]]}},{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T00:05:11Z","timestamp":1648685111156},"reference-count":0,"publisher":"University
        of South Carolina Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,7,17]]},"DOI":"10.2307\/j.ctvrxk35v.10","type":"book-chapter","created":{"date-parts":[[2020,7,21]],"date-time":"2020-07-21T21:00:42Z","timestamp":1595365242000},"page":"39-50","source":"Cross[...]
