---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.5962%2Fbhl.title.124254
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.10 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:19:30Z","timestamp":1648977570838},"publisher-location":"Nu\u0308rnberg
        :","reference-count":0,"publisher":"Verlag von Bauer und Raspe (Julius Merz),","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[1852]]},"DOI":"10.5962\/bhl.title.124254","type":"monograph","created":{"date-parts":[[2017,1,30]],"date-time":"2017-01-30T01:00:18Z","timestamp":1485738018000},"source":"Crossref","is-referenced-by-count":1,"title":["Die
        Gattungen Pupa, Megaspira, Balea und Tornatellina : in Abbildungen nach der
        Natur mit Beschreibungen \/"],"prefix":"10.5962","author":[{"given":"H. C.","family":"Kuster","sequence":"first","affiliation":[]},{"given":"Johann
        Hieronymus","family":"Chemnitz","sequence":"additional","affiliation":[]},{"given":"Friedrich
        Heinrich Wilhelm","family":"Martini","sequence":"additional","affiliation":[]}],"member":"3444","container-title":[],"original-title":[],"deposited":{"date-parts":[[2017,1,30]],"date-time":"2017-01-30T01:00:18Z","timestamp":1485738018000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.biodiversitylibrary.org\/bibliography\/124254"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1852]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.5962\/bhl.title.124254","relation":{},"published":{"date-parts":[[1852]]}}}'
  recorded_at: Fri, 01 Sep 2023 04:01:41 GMT
recorded_with: VCR 6.2.0
