---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1108%2Foxan-es268033
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:30:06Z","timestamp":1648978206554},"reference-count":0,"publisher":"Emerald","license":[{"start":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T00:00:00Z","timestamp":1647475200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.emerald.com\/insight\/site-policies"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2022,3,17]]},"abstract":"<jats:sec
        sec-type=\"headline\">\n               <jats:title content-type=\"abstract-subheading\">Headline<\/jats:title>\n               <jats:p>HONDURAS:
        Extradition would help Castro\u2019s image<\/jats:p>\n            <\/jats:sec>","DOI":"10.1108\/oxan-es268033","type":"other","created":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T13:29:50Z","timestamp":1647523790000},"source":"Crossref","is-referenced-by-count":0,"title":["Extradition
        would boost image of Honduras\u2019s Castro"],"prefix":"10.1108","member":"140","container-title":["Emerald
        Expert Briefings"],"original-title":[],"link":[{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,3,17]],"date-time":"2022-03-17T13:29:51Z","timestamp":1647523791000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.emerald.com\/insight\/content\/doi\/10.1108\/OXAN-ES268033\/full\/html"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2022,3,17]]},"references-count":0,"alternative-id":["10.1108\/OXAN-ES268033"],"URL":"http:\/\/dx.doi.org\/10.1108\/oxan-es268033","relation":{},"ISSN":["2633-304X"],"issn-type":[{"value":"2633-304X","type":"print"}],"published":{"date-parts":[[2022,3,17]]}}}'
  recorded_at: Wed, 04 Jan 2023 22:35:42 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Extradition%2Bwould%2Bboost%2Bimage%2Bof%2BHonduras%E2%80%99s%2BCastro%2B2022%2BEmerald
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1102069,"items":[{"indexed":{"date-parts":[[2022,5,11]],"date-time":"2022-05-11T10:18:46Z","timestamp":1652264326488},"publisher-location":"London","edition-number":"1","reference-count":0,"publisher":"Routledge","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2022,4,28]]},"DOI":"10.4324\/9780429956683-7","type":"book-chapter","created":{"date-parts":[[2022,4,28]],"date-time":"2022-04-28T12:08:44Z","timestamp":1651147724000},"page":"83-93","source":"Crossref","is-referenced-by-count":0,"title":["Extradition
        and terrorism"],"prefix":"10.4324","author":[{"given":"Harmen van der","family":"Wilt","sequence":"first","affiliation":[]}],"member":"301","container-title":["The
        Law and Practice of Extradition"],"deposited":{"date-parts":[[2022,4,28]],"date-time":"2022-04-28T12:08:52Z","timestamp":1651147732000},"score":22.926674,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9780429956683\/chapters\/10.4324\/9780429956683-7"}},"issued":{"date-parts":[[2022,4,28]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.4324\/9780429956683-7","published":{"date-parts":[[2022,4,28]]}},{"indexed":{"dat[...]
