---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111%2Fjan.15115%2Fv3%2Fdecision1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:32:01Z","timestamp":1648978321373},"reference-count":0,"publisher":"Wiley","content-domain":{"domain":[]},"short-container-title":[],"published-print":{"date-parts":[[2021,10,17]]},"DOI":"10.1111\/jan.15115\/v3\/decision1","type":"peer-review","created":{"date-parts":[[2021,12,1]],"date-time":"2021-12-01T21:08:09Z","timestamp":1638392889000},"source":"Crossref","is-referenced-by-count":0,"title":["Decision
        letter for \"Self\u2010care of patients with multiple chronic conditions and
        their caregivers during the COVID\u201019 pandemic: A qualitative descriptive
        study\""],"prefix":"10.1111","member":"311","container-title":[],"review":{"type":"editor-report","running-number":"E1V3","revision-round":"3","stage":"pre-publication"},"original-title":[],"deposited":{"date-parts":[[2021,12,1]],"date-time":"2021-12-01T21:08:11Z","timestamp":1638392891000},"score":1,"resource":{"primary":{"URL":"https:\/\/publons.com\/publon\/50403050"}},"subtitle":[],"editor":[{"family":"Debra
        Jackson","sequence":"first","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2021,10,17]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1111\/jan.15115\/v3\/decision1","relation":{"is-review-of":[{"id-type":"doi","id":"10.1111\/JAN.15115","asserted-by":"subject"}]},"published":{"date-parts":[[2021,10,17]]}}}'
  recorded_at: Wed, 03 Jan 2024 04:24:19 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Decision%2Bletter%2Bfor%2B%22Self%E2%80%90care%2Bof%2Bpatients%2Bwith%2Bmultiple%2Bchronic%2Bconditions%2Band%2Btheir%2Bcaregivers%2Bduring%2Bthe%2BCOVID%E2%80%9019%2Bpandemic:%2BA%2Bqualitative%2Bdescriptive%2Bstudy%22%2B2021%2BWiley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":32221,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T06:07:37Z","timestamp":1648793257527},"reference-count":0,"publisher":"\u0438\u0437\u0434\u0430\u0442\u0435\u043b\u044c\u0441\u0442\u0432\u043e
        \u041c\u043e\u0441\u043a\u043e\u0432\u0441\u043a\u043e\u0433\u043e \u0423\u043d\u0438\u0432\u0435\u0440\u0441\u0438\u0442\u0435\u0442\u0430","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021]]},"DOI":"10.11621\/rpo.2021.13","type":"book-chapter","created":{"date-parts":[[2021,10,14]],"date-time":"2021-10-14T14:25:08Z","timestamp":1634221508000},"page":"333-344","source":"Crossref","is-referenced-by-count":0,"title":["\u201cSelf-care\u201d
        as vector of psychological awareness raising during the pandemic"],"prefix":"10.11621","author":[{"given":"N.A.","family":"Nizovskykh","sequence":"first","affiliation":[]}],"member":"4893","published-online":{"date-parts":[[2021]]},"container-title":["PSYCHOLOGICAL
        GUIDANCE DURING THE COVID-19 PANDEMIC"],"original-title":["\u00ab\u0417\u0430\u0431\u043e\u0442\u0430
        \u043e \u0441\u0435\u0431\u0435\u00bb \u043a\u0430\u043a \u0432\u0435\u043a\u0442\u043e\u0440
        \u043f\u0441\u0438\u0445\u043e\u043b\u043e\u0433\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e
        \u043f\u0440\u043e\u0441\u0432\u0435\u0449\u0435\u043d\u0438\u044f \u0432
        \u043f\u0435\u0440\u0438\u043e\u0434 \u043f\u0430\u043d\u0434\u0435\u043c\u0438\u0438"],"deposited":{"date-parts":[[2021,10,14]],"date-time":"2021-10-14T14:25:20Z","timestamp":1634221520000},"score":39.658913,"resource":{"primary":{"URL":"https:\/\/msupress.com\/catalogue\/books\/chapter\/3199\/"}},"issued":{"date-parts":[[2021]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.11621\/rpo.2021.13","published":{"date-parts":[[2021]]}},{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T01:24:07Z","timestamp":1648949047218},"reference-count":35,"publisher":"Elsevier","license":[{"start":{"date-parts":[[2021,1,1]],"date-time":"2021-01-01T00:00:00Z","timestamp":1609459200000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2021]]},"DOI":"10.1016\/b978-0-323-82691-4.00004-2","type":"book-chapter","created":{"date-parts":[[2021,8,27]],"date-time":"2021-08-27T08:42:09Z","timestamp":1630053729000},"page":"123-129","source":"Crossref","is-referenced-by-count":0,"title":["Neuro-Oncologic
        Care During the COVID-19 Pandemic"],"prefix":"10.1016","author":[{"given":"James
        M.","family":"Snyder","sequence":"first","affiliation":[]},{"given":"Mohammed
        F.","family":"Rehman","sequence":"additional","affiliation":[]}],"member":"78","reference":[{"issue":"7","key":"10.1016\/B978-0-323-82691-4.00004-2_bb0010","doi-asserted-by":"crossref","first-page":"928","DOI":"10.1093\/neuonc\/noaa113","article-title":"Neuro-oncology
        management during the COVID-19 pandemic with a focus on WHO grades III and
        IV gliomas","volume":"22","author":"Bernhardt","year":"2020","journal-title":"Neuro
        Oncol"},{"issue":"7","key":"10.1016\/B978-0-323-82691-4.00004-2_bb0015","doi-asserted-by":"crossref","first-page":"912","DOI":"10.1093\/neuonc\/noaa090","article-title":"Urgent
        considerations for the neuro-oncologic treatment of patients with gliomas
        during the COVID-19 pandemic","volume":"22","author":"Mohile","year":"2020","journal-title":"Neuro
        Oncol"},{"issue":"5","key":"10.1016\/B978-0-323-82691-4.00004-2_bb0020","doi-asserted-by":"crossref","first-page":"665","DOI":"10.1038\/s41591-020-0874-8","article-title":"Caring
        for patients with cancer in the COVID-19 era","volume":"26","author":"van
        de Haar","year":"2020","journal-title":"Nat Med"},{"issue":"2","key":"10.1016\/B978-0-323-82691-4.00004-2_bb0025","doi-asserted-by":"crossref","first-page":"104","DOI":"10.1097\/JNN.0b013e3181ce5a34","article-title":"Psychosocial
        implications for the patient with a high-grade glioma","volume":"42","author":"Lucas","year":"2010","journal-title":"J
        Neurosci Nurs"},{"key":"10.1016\/B978-0-323-82691-4.00004-2_bb0030","doi-asserted-by":"crossref","article-title":"Mental
        health and the Covid-19 pandemic","author":"Pfefferbaum","year":"2020","journal-title":"N
        Engl J Med","DOI":"10.1056\/NEJMp2008017"},{"key":"10.1016\/B978-0-323-82691-4.00004-2_bb0035","series-title":"Current
        Understanding and Treatment of Gliomas. Cancer Treatment and Research","first-page":"171","article-title":"Palliative
        and supportive care for glioma patients","author":"Walbert","year":"2015"},{"issue":"4","key":"10.1016\/B978-0-323-82691-4.00004-2_bb0040","doi-asserted-by":"crossref","first-page":"398","DOI":"10.1001\/jama.2012.29","article-title":"Caregiving
        burden, stress, and health effects among family caregivers of adult cancer
        patients","volume":"3[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1111%2FJAN.15115
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2023,10,12]],"date-time":"2023-10-12T06:35:43Z","timestamp":1697092543066},"reference-count":62,"publisher":"Wiley","issue":"5","license":[{"start":{"date-parts":[[2021,11,30]],"date-time":"2021-11-30T00:00:00Z","timestamp":1638230400000},"content-version":"vor","delay-in-days":0,"URL":"http:\/\/onlinelibrary.wiley.com\/termsAndConditions#vor"}],"content-domain":{"domain":["onlinelibrary.wiley.com"],"crossmark-restriction":true},"short-container-title":["Journal
        of Advanced Nursing"],"published-print":{"date-parts":[[2022,5]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:sec><jats:title>Aims<\/jats:title><jats:p>Explore
        the self\u2010care experiences of patients with multiple chronic conditions
        (MCCs) and caregivers'' contributions to patient self\u2010care during COVID\u201019
        pandemic.<\/jats:p><\/jats:sec><jats:sec><jats:title>Design<\/jats:title><jats:p>A
        descriptive qualitative design was used. The COREQ checklist was used for
        study reporting.<\/jats:p><\/jats:sec><jats:sec><jats:title>Methods<\/jats:title><jats:p>Individual
        semi\u2010structured inter[...]
