---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1101%2F751156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":[{"name":"bioRxiv"}],"indexed":{"date-parts":[[2025,2,21]],"date-time":"2025-02-21T00:25:35Z","timestamp":1740097535335,"version":"3.37.3"},"posted":{"date-parts":[[2019,8,30]]},"group-title":"Microbiology","reference-count":71,"publisher":"Cold
        Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2019,8,29]]},"abstract":"<jats:title>ABSTRACT<\/jats:title><jats:p>Lsr2-like
        nucleoid-associated proteins play an important role as xenogeneic silencers
        (XS) of horizontally acquired genomic regions in actinobacteria. In this study,
        we systematically analyzed the in vivo constraints underlying silencing and
        counter-silencing of the Lsr2-like protein CgpS in<jats:italic>Corynebacterium
        glutamicum<\/jats:italic>. Genome-wide analysis revealed binding of CgpS to
        regions featuring a distinct drop in GC-profile close to the transcription
        start site (TSS), but also identified an overrepresented motif with multiple
        A\/T steps at the nucleation site of the nucleoprotein complex. Binding of
        specific transcription factors (TFs) may oppose XS activity leading to counter-silencing.
        Following a synthetic counter-silencing approach, target gene activation was
        realized by inserting operator sites of an effector-responsive TF within various
        CgpS target promoters resulting in an increased promoter activity upon TF
        binding. Analysis of reporter constructs revealed maximal counter-silencing
        when the TF operator site was inserted at the position of maximal CgpS coverage.
        This principle was implemented in a synthetic toggle switch, which features
        a robust and reversible response to effector availability highlighting the
        potential for biotechnological applications. Altogether, our results provide
        comprehensive insights into how Lsr2 silencing and counter-silencing shapes
        evolutionary network expansion in this medically- and biotechnologically-relevant
        bacterial phylum.<\/jats:p><jats:sec><jats:title>IMPORTANCE<\/jats:title><jats:p>In
        actinobacteria, Lsr2-like nucleoid-associated proteins function as xenogeneic
        silencers (XS) of horizontally acquired genomic regions, including viral elements,
        virulence gene clusters in<jats:italic>Mycobacterium tuberculosis<\/jats:italic>,
        and genes involved in cryptic specialized metabolism in<jats:italic>Streptomyces<\/jats:italic>species.
        Consequently, a detailed mechanistic understanding of Lsr2 binding in vivo
        is relevant as a potential drug target and for the identification novel bioactive
        compounds. Here, we followed an in vivo approach to investigate the rules
        underlying xenogeneic silencing and counter-silencing of the Lsr2-like XS
        CgpS from<jats:italic>Corynebacterium glutamicum<\/jats:italic>. Our results
        demonstrated that CgpS distinguishes between self and foreign by recognizing
        a distinct drop in GC-profile in combination with a short, sequence specific
        motif at the nucleation site. Following a synthetic counter-silencer approach,
        we studied the potential and constraints of transcription factors to counteract
        CgpS silencing thereby facilitating the integration of new genetic traits
        into host regulatory networks.<\/jats:p><\/jats:sec>","DOI":"10.1101\/751156","type":"posted-content","created":{"date-parts":[[2019,8,30]],"date-time":"2019-08-30T23:35:10Z","timestamp":1567208110000},"source":"Crossref","is-referenced-by-count":0,"title":["Deciphering
        the rules underlying xenogeneic silencing and counter-silencing of Lsr2-like
        proteins"],"prefix":"10.1101","author":[{"given":"Johanna","family":"Wiechert","sequence":"first","affiliation":[]},{"given":"Andrei","family":"Filipchyk","sequence":"additional","affiliation":[]},{"given":"Max","family":"H\u00fcnnefeld","sequence":"additional","affiliation":[]},{"given":"Cornelia","family":"G\u00e4tgens","sequence":"additional","affiliation":[]},{"given":"Ralf","family":"Heermann","sequence":"additional","affiliation":[]},{"ORCID":"https:\/\/orcid.org\/0000-0001-6209-7950","authenticated-orcid":false,"given":"Julia","family":"Frunzke","sequence":"additional","affiliation":[]}],"member":"246","reference":[{"key":"2019090110484600000_751156v1.1","doi-asserted-by":"publisher","DOI":"10.1038\/35012500"},{"key":"2019090110484600000_751156v1.2","doi-asserted-by":"publisher","DOI":"10.1016\/j.plasmid.2014.06.004"},{"key":"2019090110484600000_751156v1.3","doi-asserted-by":"publisher","DOI":"10.1016\/bs.ampbs.2016.07.004"},{"key":"2019090110484600000_751156v1.4","doi-asserted-by":"publisher","DOI":"10.1093\/nar\/gkw692"},{"key":"2019090110484600000_751156v1.5","doi-asserted-by":"publisher","DOI":"10.1186\/1745-6150-6-1"},{"key":"2019090110484600000_751156v1.6","doi-asserted-by":"publisher","DOI":"10.1093\/gbe\/evs030"},{"key":"2019090110484600000_751156v1.7","doi-asserted-by":"publisher","DOI":"10.1016\/j.tree.2013.04.002"},{"key":"2019090110484600000_751156v1.8","doi-asserted-by":"crossref","first-page":"16249","DOI":"10.1038\/nmicrobiol.2016.249","article-title":"Horizontally
        acquired AT-rich genes in Escherichia coli cause toxicity by sequestering
        RNA polymerase","volume":"2","year":"2017","journal-title":"Nat Microbiol"},{"key":"2019090110484600000_751156v1.9","doi-asserted-by":"publisher","DOI":"10.1126\/science.aar4120"},{"key":"2019090110484600000_751156v1.10","doi-asserted-by":"publisher","DOI":"10.1038\/nrmicro2315"},{"key":"2019090110484600000_751156v1.11","doi-asserted-by":"publisher","DOI":"10.1146\/annurev-biochem-072911-172315"},{"key":"2019090110484600000_751156v1.12","doi-asserted-by":"publisher","DOI":"10.1073\/pnas.0500923102"},{"key":"2019090110484600000_751156v1.13","doi-asserted[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Deciphering%2Bthe%2Brules%2Bunderlying%2Bxenogeneic%2Bsilencing%2Band%2Bcounter-silencing%2Bof%2BLsr2-like%2Bproteins%2B2019%2BCold%2BSpring%2BHarbor%2BLaboratory
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":175,"items":[{"indexed":{"date-parts":[[2025,3,25]],"date-time":"2025-03-25T14:35:18Z","timestamp":1742913318126,"version":"3.40.3"},"publisher-location":"Singapore","reference-count":174,"publisher":"Springer
        Singapore","isbn-type":[{"type":"print","value":"9789811334108"},{"type":"electronic","value":"9789811334115"}],"license":[{"start":{"date-parts":[[2019,1,1]],"date-time":"2019-01-01T00:00:00Z","timestamp":1546300800000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2019]]},"DOI":"10.1007\/978-981-13-3411-5_1","type":"book-chapter","created":{"date-parts":[[2019,2,21]],"date-time":"2019-02-21T06:24:47Z","timestamp":1550730287000},"page":"1-27","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":2,"title":["Xenogeneic
        Silencing and Horizontal Gene Transfer"],"prefix":"10.1007","author":[{"given":"Chiho","family":"Suzuki-Minakuchi","sequence":"first","affiliation":[]},{"given":"William
        Wiley","family":"Navarre","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2019,2,22]]},"reference":[{"key":"1_CR1","doi-asserted-by":"publisher","first-page":"616","DOI":"10.1016\/j.gde.2004.09.004","volume":"14","author":"V
        Daubin","year":"2004","unstructured":"Daubin V, Ochman H. Start-up entities
        in the origin of new genes. Curr Opin Genet Dev. 2004;14:616\u20139. https:\/\/doi.org\/10.1016\/j.gde.2004.09.004
        .","journal-title":"Curr Opin Genet Dev"},{"key":"1_CR2","doi-asserted-by":"publisher","first-page":"161","DOI":"10.1016\/j.virusres.2017.08.005","volume":"240","author":"Y
        Gao","year":"2017","unstructured":"Gao Y, Zhao H, Jin Y, Xu X, Han GZ. Extent
        and evolution of gene duplication in DNA viruses. Virus Res. 2017;240:161\u20135.
        https:\/\/doi.org\/10.1016\/j.virusres.2017.08.005 .","journal-title":"Virus
        Res"},{"key":"1_CR3","doi-asserted-by":"publisher","first-page":"73","DOI":"10.1016\/j.sbi.2014.05.006","volume":"26","author":"S
        Light","year":"2014","unstructured":"Light S, Basile W, Elofsson A. Orphans
        and new gene origination, a structural and evolutionary perspective. Curr
        Opin Struct Biol. 2014;26:73\u201383. https:\/\/doi.org\/10.1016\/j.sbi.2014.05.006
        .","journal-title":"Curr [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1128%2Fmbio.02273-19
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2025,3,22]],"date-time":"2025-03-22T11:07:00Z","timestamp":1742641620107},"reference-count":70,"publisher":"American
        Society for Microbiology","issue":"1","license":[{"start":{"date-parts":[[2020,2,4]],"date-time":"2020-02-04T00:00:00Z","timestamp":1580774400000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/creativecommons.org\/licenses\/by\/4.0\/"},{"start":{"date-parts":[[2020,2,25]],"date-time":"2020-02-25T00:00:00Z","timestamp":1582588800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/journals.asm.org\/non-commercial-tdm-license"}],"content-domain":{"domain":["journals.asm.org"],"crossmark-restriction":true},"short-container-title":["mBio"],"published-print":{"date-parts":[[2020,2,25]]},"abstract":"<jats:p>\n            In
        actinobacteria, Lsr2-like nucleoid-associated proteins function as xenogeneic
        silencers (XS) of horizontally acquired genomic regions, including viral elements,
        virulence gene clusters in\n            <jats:named-content content-type=\"genus-species\">Mycobacterium
        tuberculosis<\/jats:named-content>\n            , and genes involved in cryptic
        specialized metabolism in\n            <jats:italic>Streptomyces<\/jats:italic>\n            species.
        Consequently, a detailed mechanistic understanding of Lsr2 binding\n            <jats:italic>in
        vivo<\/jats:italic>\n            is relevant as a potential drug target and
        for the identification of novel bioactive compounds. Here, we[...]
