---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1145%2F1947940
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:30:28Z","timestamp":1648978228759},"publisher-location":"New
        York, New York, USA","reference-count":0,"publisher":"ACM Press","isbn-type":[{"value":"9781450304641","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2011]]},"DOI":"10.1145\/1947940","type":"proceedings","created":{"date-parts":[[2011,3,4]],"date-time":"2011-03-04T13:14:52Z","timestamp":1299244492000},"source":"Crossref","is-referenced-by-count":1,"title":["Proceedings
        of the 2011 International Conference on Communication, Computing &amp; Security
        - ICCCS ''11"],"prefix":"10.1145","member":"320","event":{"name":"the 2011
        International Conference","location":"Rourkela, Odisha, India","acronym":"ICCCS
        ''11","number":"2011","start":{"date-parts":[[2011,2,12]]},"end":{"date-parts":[[2011,2,14]]}},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2011,3,4]],"date-time":"2011-03-04T13:14:55Z","timestamp":1299244495000},"score":1,"resource":{"primary":{"URL":"http:\/\/portal.acm.org\/citation.cfm?doid=1947940"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2011]]},"ISBN":["9781450304641"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1145\/1947940","relation":{},"published":{"date-parts":[[2011]]}}}'
  recorded_at: Sun, 15 Jan 2023 19:25:18 GMT
recorded_with: VCR 6.1.0
