---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109%2Ficpadm.1994.414074
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,2]],"date-time":"2022-04-02T03:01:59Z","timestamp":1648868519316},"reference-count":6,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/icpadm.1994.414074","type":"proceedings-article","created":{"date-parts":[[2002,12,17]],"date-time":"2002-12-17T12:43:37Z","timestamp":1040129017000},"source":"Crossref","is-referenced-by-count":6,"title":["Electromagnetic
        spectrum caused by partial discharge in air under AC and DC voltage application"],"prefix":"10.1109","author":[{"given":"M.","family":"Hikita","sequence":"first","affiliation":[]},{"given":"H.","family":"Yamashita","sequence":"additional","affiliation":[]},{"given":"T.","family":"Kato","sequence":"additional","affiliation":[]},{"given":"N.","family":"Hayakawa","sequence":"additional","affiliation":[]},{"given":"T.","family":"Ueda","sequence":"additional","affiliation":[]},{"given":"H.","family":"Okubo","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref4","first-page":"121","article-title":"phase-resolved
        partial discharge measurements and their electromagnetic spectrum in sf\/sub
        6\/ gas","author":"hikita","year":"1993","journal-title":"International Conference
        on Partial Discharge (Conf Publ No 378)"},{"key":"ref3","article-title":"On
        spatial phase difference method for detecting E-M signals associated with
        partial discharges in power apparatus","volume":"66","author":"kawasaki","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"key":"ref6","author":"paul","year":"1991","journal-title":"Electromagnetic
        Compatibility"},{"key":"ref5","article-title":"Partial discharge measurement
        of SF6 gas using phase-resolved pulse height analysis and its application
        to assess the condition of insulation in GIS","volume":"66","author":"hikita","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1109\/61.141837"},{"key":"ref1","doi-asserted-by":"publisher","DOI":"10.1109\/14.85104"}],"event":{"name":"1994
        4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)","location":"Brisbane, Qld., Australia","acronym":"ICPADM-94"},"container-title":["Proceedings
        of 1994 4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx2\/3163\/9216\/00414074.pdf?arnumber=414074","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,9]],"date-time":"2017-03-09T07:33:32Z","timestamp":1489044812000},"score":1,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/414074\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":6,"URL":"http:\/\/dx.doi.org\/10.1109\/icpadm.1994.414074","relation":{}}}'
  recorded_at: Thu, 22 Dec 2022 22:44:53 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Proceedings%20of%201994%204th%20International%20Conference%20on%20Properties%20and%20Applications%20of%20Dielectric%20Materials%20(ICPADM)%202002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":16308,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T22:41:02Z","timestamp":1648766462796},"reference-count":0,"publisher":"Elsevier","isbn-type":[{"value":"9780128023051","type":"print"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1016\/c2014-0-02694-9","type":"book","created":{"date-parts":[[2016,8,3]],"date-time":"2016-08-03T13:18:55Z","timestamp":1470230335000},"source":"Crossref","is-referenced-by-count":1,"title":["Dielectric
        Properties of Agricultural Materials and their Applications"],"prefix":"10.1016","member":"78","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:C20140026949?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:C20140026949?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,9]],"date-time":"2018-09-09T18:21:21Z","timestamp":1536517281000},"score":26.512032,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/C20140026949"}},"issued":{"date-parts":[[2015]]},"ISBN":["9780128023051"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1016\/c2014-0-02694-9","published":{"date-parts":[[2015]]}},{"indexed":{"date-parts":[[2022,7,2]],"date-time":"2022-07-02T06:25:46Z","timestamp":1656743146683},"publisher-location":"Dordrecht","reference-count":0,"publisher":"Springer
        Netherlands","isbn-type":[{"value":"9781402008245","type":"print"},{"value":"9789401006323","type":"electronic"}],"license":[{"start":{"date-parts":[[2002,1,1]],"date-time":"2002-01-01T00:00:00Z","timestamp":1009843200000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2002]]},"DOI":"10.1007\/978-94-010-0632-3","type":"book","created":{"date-parts":[[2011,6,20]],"date-time":"2011-06-20T05:59:06Z","timestamp":1308549546000},"source":"Crossref","is-referenced-by-count":5,"title":["Photovoltaic
        and Photoactive Materials \u2014 Properties, Technology and Applications"],"prefix":"10.1007","member":"297","link":[{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-94-010-0632-3.pdf","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"http:\/\/link.springer.com\/content\/pdf\/10.1007\/978-94-010-0632-3","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,4,6]],"date-time":"2019-04-06T07:01:28Z","timestamp":1554534088000},"score":22.270699,"resource":{"primary":{"URL":"http:\/\/link.springer.com\/10.1007\/978-94-010-0632-3"}},"editor":[{"given":"J.
        M.","family":"Marshall","sequence":"first","affiliation":[]},{"given":"D.","family":"Dimova-Malinovska","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[2002]]},"ISBN":["9781402008245","9789401006323"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1007\/978-94-010-0632-3","published":{"date-parts":[[2002]]}},{"indexed":{"date-parts":[[2022,12,16]],"date-time":"2022-12-16T15:51:55Z","timestamp":1671205915049},"reference-count":0,"publisher":"CRC
    [...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Electromagnetic%2Bspectrum%2Bcaused%2Bby%2Bpartial%2Bdischarge%2Bin%2Bair%2Bunder%2BAC%2Band%2BDC%2Bvoltage%2Bapplication%2B2002%2BIEEE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":13133,"items":[{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T20:14:14Z","timestamp":1648584854552},"reference-count":9,"publisher":"Elsevier","license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1016\/b978-0-12-802161-3.00007-x","type":"book-chapter","created":{"date-parts":[[2015,1,23]],"date-time":"2015-01-23T21:39:08Z","timestamp":1422049148000},"page":"297-349","source":"Crossref","is-referenced-by-count":0,"title":["Electromagnetic
        Environment in UHV Transmission Projects"],"prefix":"10.1016","author":[{"given":"Zhenya","family":"Liu","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib1","series-title":"UHV
        DC Transmission Technology Study Collection (2009\u20132011)","author":"Zhenya","year":"2010"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib2","series-title":"UHV
        DC Transmission Technology Study Collection (2009\u20132010)","author":"Zhenya","year":"2011"},{"issue":"31","key":"10.1016\/B978-0-12-802161-3.00007-X_bib3","first-page":"1","article-title":"Research
        of key technologies for UHV transmission","volume":"27","author":"Yinbiao","year":"2007","journal-title":"Proc.
        CSEE"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib4","series-title":"High
        Voltage Static Electric Fields","author":"Guangrun","year":"1962"},{"issue":"12","key":"10.1016\/B978-0-12-802161-3.00007-X_bib5","first-page":"55","article-title":"Study
        on electro[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Proceedings%20of%201994%204th%20International%20Conference%20on%20Properties%20and%20Applications%20of%20Dielectric%20Materials%20(ICPADM),%20IEEE,%20,%202002%22&rows=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      [...]
