---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.15405%2Fepsbs(2357-1330).2021.6.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T14:18:09Z","timestamp":1648563489286},"reference-count":0,"publisher":"European
        Publisher","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.15405\/epsbs(2357-1330).2021.6.1","type":"proceedings-series","created":{"date-parts":[[2021,5,31]],"date-time":"2021-05-31T11:58:47Z","timestamp":1622462327000},"source":"Crossref","is-referenced-by-count":0,"title":["European
        Proceedings of Social and Behavioural Sciences"],"prefix":"10.15405","member":"6078","event":{"name":"Psychosocial
        Risks in Education and Quality Educational Processes","acronym":"CIPE 2020"},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2022,1,17]],"date-time":"2022-01-17T12:55:18Z","timestamp":1642424118000},"score":1,"resource":{"primary":{"URL":"https:\/\/europeanproceedings.com\/book-series\/EpSBS\/books\/vol109-cipe-2020"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.15405\/epsbs(2357-1330).2021.6.1","relation":{},"ISSN":["2357-1330"],"issn-type":[{"value":"2357-1330","type":"print"}]}}'
  recorded_at: Thu, 22 Dec 2022 22:45:15 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=European%2BProceedings%2Bof%2BSocial%2Band%2BBehavioural%2BSciences%2B2021%2BEuropean%2BPublisher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1799902,"items":[{"indexed":{"date-parts":[[2022,4,1]],"date-time":"2022-04-01T14:22:34Z","timestamp":1648822954545},"reference-count":0,"publisher":"Hart
        Publishing","content-domain":{"domain":[],"crossmark-restriction":false},"DOI":"10.5040\/9781474203463.ch-002","type":"book-chapter","created":{"date-parts":[[2015,12,22]],"date-time":"2015-12-22T09:52:20Z","timestamp":1450777940000},"source":"Crossref","is-referenced-by-count":0,"title":["Behavioural
        Sciences in Practice: Lessons for EU Rulem[...]
