---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1109%2Ficpadm.1994.414074
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,10,30]],"date-time":"2024-10-30T02:01:51Z","timestamp":1730253711708,"version":"3.28.0"},"reference-count":6,"publisher":"IEEE","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1109\/icpadm.1994.414074","type":"proceedings-article","created":{"date-parts":[[2002,12,17]],"date-time":"2002-12-17T12:43:37Z","timestamp":1040129017000},"page":"570-573","source":"Crossref","is-referenced-by-count":6,"title":["Electromagnetic
        spectrum caused by partial discharge in air under AC and DC voltage application"],"prefix":"10.1109","volume":"2","author":[{"given":"M.","family":"Hikita","sequence":"first","affiliation":[]},{"given":"H.","family":"Yamashita","sequence":"additional","affiliation":[]},{"given":"T.","family":"Kato","sequence":"additional","affiliation":[]},{"given":"N.","family":"Hayakawa","sequence":"additional","affiliation":[]},{"given":"T.","family":"Ueda","sequence":"additional","affiliation":[]},{"given":"H.","family":"Okubo","sequence":"additional","affiliation":[]}],"member":"263","reference":[{"key":"ref4","first-page":"121","article-title":"phase-resolved
        partial discharge measurements and their electromagnetic spectrum in sf\/sub
        6\/ gas","author":"hikita","year":"1993","journal-title":"International Conference
        on Partial Discharge (Conf Publ No 378)"},{"key":"ref3","article-title":"On
        spatial phase difference method for detecting E-M signals associated with
        partial discharges in power apparatus","volume":"66","author":"kawasaki","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"journal-title":"Electromagnetic Compatibility","year":"1991","author":"paul","key":"ref6"},{"key":"ref5","article-title":"Partial
        discharge measurement of SF6 gas using phase-resolved pulse height analysis
        and its application to assess the condition of insulation in GIS","volume":"66","author":"hikita","year":"1993","journal-title":"6th
        Int Symp High Voltage Eng"},{"key":"ref2","doi-asserted-by":"publisher","DOI":"10.1109\/61.141837"},{"key":"ref1","doi-asserted-by":"publisher","DOI":"10.1109\/14.85104"}],"event":{"name":"1994
        4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)","acronym":"ICPADM-94","location":"Brisbane, Qld., Australia"},"container-title":["Proceedings
        of 1994 4th International Conference on Properties and Applications of Dielectric
        Materials (ICPADM)"],"original-title":[],"link":[{"URL":"http:\/\/xplorestaging.ieee.org\/ielx2\/3163\/9216\/00414074.pdf?arnumber=414074","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2017,3,9]],"date-time":"2017-03-09T07:33:32Z","timestamp":1489044812000},"score":1,"resource":{"primary":{"URL":"http:\/\/ieeexplore.ieee.org\/document\/414074\/"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[null]]},"references-count":6,"URL":"https:\/\/doi.org\/10.1109\/icpadm.1994.414074","relation":{},"subject":[]}}'
  recorded_at: Wed, 11 Dec 2024 02:40:15 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Electromagnetic%2Bspectrum%2Bcaused%2Bby%2Bpartial%2Bdischarge%2Bin%2Bair%2Bunder%2BAC%2Band%2BDC%2Bvoltage%2Bapplication%2B2002%2BIEEE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":14754,"items":[{"indexed":{"date-parts":[[2024,8,20]],"date-time":"2024-08-20T08:32:23Z","timestamp":1724142743817},"reference-count":9,"publisher":"Elsevier","isbn-type":[{"value":"9780128021613","type":"print"}],"license":[{"start":{"date-parts":[[2015,1,1]],"date-time":"2015-01-01T00:00:00Z","timestamp":1420070400000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2015]]},"DOI":"10.1016\/b978-0-12-802161-3.00007-x","type":"book-chapter","created":{"date-parts":[[2015,1,23]],"date-time":"2015-01-23T21:39:08Z","timestamp":1422049148000},"page":"297-349","source":"Crossref","is-referenced-by-count":1,"title":["Electromagnetic
        Environment in UHV Transmission Projects"],"prefix":"10.1016","author":[{"given":"Zhenya","family":"Liu","sequence":"first","affiliation":[]}],"member":"78","reference":[{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib1","series-title":"UHV
        DC Transmission Technology Study Collection (2009\u20132011)","author":"Zhenya","year":"2010"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib2","series-title":"UHV
        DC Transmission Technology Study Collection (2009\u20132010)","author":"Zhenya","year":"2011"},{"issue":"31","key":"10.1016\/B978-0-12-802161-3.00007-X_bib3","first-page":"1","article-title":"Research
        of key technologies for UHV transmission","volume":"27","author":"Yinbiao","year":"2007","journal-title":"Proc.
        CSEE"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib4","series-title":"High
        Voltage Static Electric Fields","author":"Guangrun","year":"1962"},{"issue":"12","key":"10.1016\/B978-0-12-802161-3.00007-X_bib5","first-page":"55","article-title":"Study
        on electromagnetic environment for 1000kV AC transmission line","volume":"32","author":"Xiong","year":"2006","journal-title":"High
        Voltage Eng."},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib6","series-title":"Environment
        Protection of High-Voltage Transmission","author":"Fuheng","year":"1989"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib7","series-title":"Environmental
        Noise Control Engineering","author":"Dongxing","year":"2010"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib8","series-title":"Transmission
        Line Reference Book 345kV and Above","author":"Anderson","year":"1982"},{"key":"10.1016\/B978-0-12-802161-3.00007-X_bib9","series-title":"Corona
        Performance of High-Voltage Transmission Lines","author":"Maruvada","year":"2000"}],"container-title":["Ultra-High
        Voltage Ac\/dc Grids"],"language":"en","link":[{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012802161300007X?httpAccept=text\/xml","content-type":"text\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/api.elsevier.com\/content\/article\/PII:B978012802161300007X?httpAccept=text\/plain","content-type":"text\/plain","content-version":"vor","intended-application":"text-mining"}],"deposited":{"date-parts":[[2018,9,26]],"date-time":"2018-09-26T03:22:34Z","timestamp":1537932154000},"score":33.473705,"resource":{"primary":{"URL":"https:\/\/linkinghub.elsevier.com\/retrieve\/pii\/B978012802161300007X"}},"issued":{"date-parts":[[2015]]},"ISBN":["9780128021613"],"references-count":9,"URL":"https:\/\/doi.org\/10.1016\/b978-0-12-802161-3.00007-x","published":{"date-parts":[[2015]]}},{"indexed":{"date-parts":[[2024,9,11]],"date-time":"2024-09-11T12:10:20Z","timestamp":1726056620916},"publisher-location":"Cham","reference-count":7,"publisher":"Springer
        International Publishing","isbn-type":[{"type":"print","value":"9783030316792"},{"type":"electronic","value":"9783030316808"}],"license":[{"start":{"date-parts":[[2019,10,31]],"date-time":"2019-10-31T00:00:00Z","timestamp":1572480000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2019,10,31]],"date-time":"2019-10-31T00:00:00Z","timestamp":1572480000000},"content-version":"tdm","delay-in-days":0,"URL":"http:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"published-print":{"date-parts":[[2020]]},"DOI":"10.1007\/978-3-030-31680-8_11","type":"book-chapter","created":{"date-parts":[[2019,10,31]],"date-time":"2019-10-31T02:12:01Z","timestamp":1572487921000},"page":"99-109","update-policy":"http:\/\/dx.doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":0,"title":["Partial
        Discharge Characteristics of Foamed Magnet Wire Under AC Voltage Application"],"prefix":"10.1007","author":[{"given":"Sho","family":"Okada","sequence":"first","affiliation":[]},{"given":"Kazuki","family":"Tanaka","sequence":"additional","affiliation":[]},{"given":"Shoko","family":"Ishizu","sequence":"additional","affiliation":[]},{"given":"Shusuke","family":"Takekawa","sequence":"additional","affiliation":[]},{"given":"Hideki","family":"Ueno","sequence":"additional","affiliation":[]},{"given":"Shinya","family":"Ohta","sequence":"additional","affiliation":[]},{"given":"Akira","family":"Mizoguchi","sequence":"additional","affiliation":[]},{"given":"Masaaki","family":"Yamauchi","sequence":"additional","affiliation":[]}],"member":"297","published-online":{"date-parts":[[2019,10,31]]},"reference":[{"issue":"1","key":"11_CR1","doi-asserted-by":"publisher","first-page":"5","DOI":"10.1109\/MEI.2005.1389265","volume":"21","author":"H
        Hayakawa","year":"2005","unstructured":"Hayakawa, H., Okubo, H.: Partial discharge
        characteristics of inverter-fed motor coils samples under AC and surge voltage
        condition. IEEE Electr. Insul. Mag. 21(1), 5\u201310 (2005)","journal-title":"IEEE
        Electr. Insul. Mag."},{"issue":"1","key":"11_CR2","doi-asserted-by":"publisher","first-page":"39","DOI":"10.1109\/TDEI.2007.302870","volume":"14","author":"N
        Hayakawa","year":"2007","unstructured":"Hayakawa, N., Morikawa, M., Okubo,
        H.: Partial discharge[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Proceedings%20of%201994%204th%20International%20Conference%20on%20Properties%20and%20Applications%20of%20Dielectric%20Materials%20(ICPADM)%202002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit[...]
