---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1201%2F9781439864852
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2024,5,18]],"date-time":"2024-05-18T09:38:37Z","timestamp":1716025117404},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","isbn-type":[{"value":"9781439864852","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1201\/9781439864852","type":"reference-book","created":{"date-parts":[[2018,2,25]],"date-time":"2018-02-25T15:01:42Z","timestamp":1519570902000},"source":"Crossref","is-referenced-by-count":0,"title":["Audio
        Anecdotes II"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2004,10,1]]},"container-title":[],"original-title":[],"language":"en","deposited":{"date-parts":[[2021,4,11]],"date-time":"2021-04-11T00:34:14Z","timestamp":1618101254000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852"}},"subtitle":[],"editor":[{"given":"Ken","family":"Greenebaum","sequence":"first","affiliation":[]},{"given":"Ronen","family":"Barzel","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2004,10,1]]},"ISBN":["9781439864852"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1201\/9781439864852","relation":{},"subject":[],"published":{"date-parts":[[2004,10,1]]}}}'
  recorded_at: Sun, 30 Jun 2024 00:24:22 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Audio%2BAnecdotes%2BII%2B2004%2BA%2BK%2BPeters/CRC%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":742118,"items":[{"indexed":{"date-parts":[[2024,5,11]],"date-time":"2024-05-11T13:09:36Z","timestamp":1715432976441},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","isbn-type":[{"value":"9780429063046","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2004,10,1]]},"DOI":"10.1201\/9781439864852-15","type":"book-chapter","created":{"date-parts":[[2020,7,9]],"date-time":"2020-07-09T15:07:27Z","timestamp":1594307247000},"page":"379-412","source":"Crossref","is-referenced-by-count":0,"title":["Nature"],"prefix":"10.1201","member":"301","container-title":["Audio
        Anecdotes II"],"language":"en","deposited":{"date-parts":[[2020,12,22]],"date-time":"2020-12-22T12:56:36Z","timestamp":1608641796000},"score":38.47145,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852\/chapters\/10.1201\/9781439864852-15"}},"issued":{"date-parts":[[2004,10,1]]},"ISBN":["9780429063046"],"references-count"[...]
