---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1201%2F9781439864852
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:26:11Z","timestamp":1648977971535},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","isbn-type":[{"value":"9781439864852","type":"electronic"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.1201\/9781439864852","type":"reference-book","created":{"date-parts":[[2018,2,25]],"date-time":"2018-02-25T15:01:42Z","timestamp":1519570902000},"source":"Crossref","is-referenced-by-count":1,"title":["Audio
        Anecdotes II"],"prefix":"10.1201","member":"301","published-online":{"date-parts":[[2004,10,1]]},"container-title":[],"original-title":[],"deposited":{"date-parts":[[2021,4,11]],"date-time":"2021-04-11T00:34:14Z","timestamp":1618101254000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852"}},"subtitle":[],"editor":[{"given":"Ken","family":"Greenebaum","sequence":"first","affiliation":[]},{"given":"Ronen","family":"Barzel","sequence":"additional","affiliation":[]}],"short-title":[],"issued":{"date-parts":[[2004,10,1]]},"ISBN":["9781439864852"],"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1201\/9781439864852","relation":{},"published":{"date-parts":[[2004,10,1]]}}}'
  recorded_at: Thu, 22 Dec 2022 22:45:37 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Audio%2BAnecdotes%2BII%2B2004%2BA%2BK%2BPeters/CRC%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":662029,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T07:14:21Z","timestamp":1648710861890},"edition-number":"0","reference-count":0,"publisher":"A
        K Peters\/CRC Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2004,10,1]]},"DOI":"10.1201\/9781439864852-8","type":"book-chapter","created":{"date-parts":[[2020,7,9]],"date-time":"2020-07-09T15:07:27Z","timestamp":1594307247000},"page":"45-82","source":"Crossref","is-referenced-by-count":0,"title":["Synthesis"],"prefix":"10.1201","member":"301","container-title":["Audio
        Anecdotes II"],"deposited":{"date-parts":[[2020,12,22]],"date-time":"2020-12-22T12:56:31Z","timestamp":1608641791000},"score":39.200294,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781439864852\/chapters\/10.1201\/9781439864852-8"}},"issued":{"date-parts":[[2004,10,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1201\/[...]
