---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1093%2Fww%2F9780199540884.013.u52741
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.12 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:23:18Z","timestamp":1648977798812},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.u52741","type":"reference-entry","created":{"date-parts":[[2018,7,6]],"date-time":"2018-07-06T06:04:41Z","timestamp":1530857081000},"source":"Crossref","is-referenced-by-count":0,"title":["Boxer,
        Rear-Adm. Henry Percy, (14 Oct. 1885\u201330 June 1961)"],"prefix":"10.1093","member":"286","container-title":["Who
        Was Who"],"original-title":["Boxer, Rear-Adm. Henry Percy, (14 Oct. 1885\u201330
        June 1961)"],"deposited":{"date-parts":[[2018,7,6]],"date-time":"2018-07-06T06:04:41Z","timestamp":1530857081000},"score":1,"resource":{"primary":{"URL":"http:\/\/www.ukwhoswho.com\/view\/10.1093\/ww\/9780199540891.001.0001\/ww-9780199540884-e-52741"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2007,12,1]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/ww\/9780199540884.013.u52741","relation":{},"published":{"date-parts":[[2007,12,1]]}}}'
  recorded_at: Wed, 03 Apr 2024 15:11:51 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book,type:book-set,type:edited-book,type:monograph,type:reference-book&query=Who%20Was%20Who%202007
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":35864,"items":[{"indexed":{"date-parts":[[2022,3,31]],"date-time":"2022-03-31T01:53:29Z","timestamp":1648691609402},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2007,12,1]]},"DOI":"10.1093\/ww\/9780199540884.013.u242381","type":"reference-book","created":{"date-parts":[[2017,11,30]],"date-time":"2017-11-30T22:40:00Z","timestamp":1512081600000},"source":"Crossref","is-referenced-by-count":1,"titl[...]
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Boxer,%2BRear-Adm.%2BHenry%2BPercy,%2B(14%2BOct.%2B1885%E2%80%9330%2BJune%2B1961)%2B2007%2BOxford%2BUniversity%2BPress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":1322,"items":[{"indexed":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T19:17:07Z","timestamp":1657048627218},"reference-count":0,"publisher":"Oxford
        University Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1976,3,3]]},"DOI":"10.1093\/oseo\/instance.00159367","type":"book-chapter","created":{"date-parts":[[2016,5,27]],"date-time":"2016-05-27T18:35:46Z","timestamp":1464374146000},"page":"81-81","source":"Crossref","is-referenced-by-count":0,"title":["To
        Percy William Bunting"],"prefix":"10.1093","author":[{"given":"John Henry","family":"Newman","sequence":"first","affiliation":[]}],"member":"286","container-title":["The
        Letters and Diaries of John Henry Newman, Vol. 31: The Last Years: January
        1885 to August 1890"],"deposited":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T18:31:14Z","timestamp":1657045874000},"score":26.745136,"resource":{"primary":{"URL":"http:\/\/www.oxfordscholarlyeditions.com\/view\/10.1093\/actrade\/9780199200832.book.1\/actrade-9780199200832-div2-149"}},"editor":[{"given":"Charles
        Stephen","family":"Dessain","sequence":"additional","affiliation":[]},{"given":"Thomas
        Gornall,","family":"S.J.","sequence":"additional","affiliation":[]}],"issued":{"date-parts":[[1976,3,3]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1093\/oseo\/instance.00159367","published":{"date-parts":[[1976,3,3]]}},{"indexed":{"date-parts":[[2022,7,5]],"date-time":"2022-07-05T22:45:02Z","timestamp":1657061102866},"reference-count":0,"publisher":"Oxford
        [...]
[...]
