---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.3133%2Fofr72419
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v1.10.2 Serrano/v1.0.0 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,12,2]],"date-time":"2022-12-02T05:47:58Z","timestamp":1669960078967},"reference-count":0,"publisher":"US
        Geological Survey","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"DOI":"10.3133\/ofr72419","type":"report-component","created":{"date-parts":[[2018,8,14]],"date-time":"2018-08-14T21:47:51Z","timestamp":1534283271000},"source":"Crossref","is-referenced-by-count":0,"title":["Seismicity
        map of greater San Francisco Bay area, California (1969-1971)"],"prefix":"10.3133","author":[{"name":"U.S.
        Geological Survey","sequence":"first","affiliation":[]}],"member":"1689","published-online":{"date-parts":[[1972]]},"container-title":["Open-File
        Report"],"original-title":[],"deposited":{"date-parts":[[2022,12,1]],"date-time":"2022-12-01T19:18:09Z","timestamp":1669922289000},"score":1,"resource":{"primary":{"URL":"http:\/\/pubs.er.usgs.gov\/publication\/ofr72419"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[1972]]},"references-count":0,"alternative-id":["72-419"],"URL":"http:\/\/dx.doi.org\/10.3133\/ofr72419","relation":{},"ISSN":["2331-1258"],"issn-type":[{"value":"2331-1258","type":"print"}],"published":{"date-parts":[[1972]]}}}'
  recorded_at: Sun, 15 Jan 2023 19:25:34 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Seismicity%2Bmap%2Bof%2Bgreater%2BSan%2BFrancisco%2BBay%2Barea,%2BCalifornia%2B(1969-1971)%2B1972%2BUS%2BGeological%2BSurvey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":13689,"items":[{"indexed":{"date-parts":[[2022,4,6]],"date-time":"2022-04-06T01:55:57Z","timestamp":1649210157898},"reference-count":0,"publisher":"University
        of California Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1985,12,31]]},"DOI":"10.1525\/9780520323933-010","type":"book-chapter","created":{"date-parts":[[2021,3,2]],"date-time":"2021-03-02T13:23:34Z","timestamp":1614691414000},"page":"133-148","source":"Crossref","is-referenced-by-count":0,"title":["CHAPTER
        NINE. The Greater San Francisco Movement"],"prefix":"10.1525","member":"408","container-title":["The
        San Francisco Bay Area"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/html","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2021,3,2]],"date-time":"2021-03-02T13:23:34Z","timestamp":1614691414000},"score":43.502136,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520323933-010\/html"}},"issued":{"date-parts":[[1985,12,31]]},"references-count":0,"alternative-id":["10.1525\/9780520323933-010","10.1525\/9780520323933"],"URL":"http:\/\/dx.doi.org\/10.1525\/9780520323933-010","published":{"date-parts":[[1985,12,31]]}},{"indexed":{"date-parts":[[2022,9,5]],"date-time":"2022-09-05T12:42:04Z","timestamp":1662381724528},"reference-count":0,"publisher":"University
        of California Press","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[1969,12,31]]},"DOI":"10.1525\/9780520348172-015","type":"book-chapter","created":{"date-parts":[[2021,3,3]],"date-time":"2021-03-03T07:23:02Z","timestamp":1614756182000},"page":"283-298","source":"Crossref","is-referenced-by-count":0,"title":["15.
        Six attic vases in the San Francisco bay area"],"prefix":"10.1525","author":[{"given":"Charlotte
        S.","family":"Sweet","sequence":"first","affiliation":[]}],"member":"408","container-title":["California
        Studies in Classical Antiquity Volume 2"],"link":[{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520348172-015\/xml","content-type":"application\/xml","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520348172-015\/pdf","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2022,9,5]],"date-time":"2022-09-05T12:17:45Z","timestamp":1662380265000},"score":41.96435,"resource":{"primary":{"URL":"https:\/\/www.degruyter.com\/document\/doi\/10.1525\/9780520348172-015\/html"}},"issued":{"date-parts":[[1969,12,31]]},"references-count":0,"alternative-id":["10.1525\/9780520348172-015","10.1525\/9780520348172"],"URL":"http:\/\/dx.doi.org\/10.1525\/9780520348172-015","published":{"date-parts":[[1969,12,31]]}},{"indexed":{"date-parts":[[2022,3,29]],"date-time":"2022-03-29T15:35:31Z","timestamp":1648568131605},"edition-number":"1","reference-count":1,"publisher":"Routledge","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2017,11,30]]},"DOI":"10.4324\/9781351156967-5","type":"book-chapter","created":{"date-parts":[[2018,9,2]],"date-time":"2018-09-02T01:59:14Z","timestamp":1535853554000},"page":"87-101","source":"Crossref","is-referenced-by-count":0,"title":["Managing
        Growth in California and Dealing with Growth in the San Francisco Bay Area"],"prefix":"10.4324","member":"301","reference":[{"key":"ref5","unstructured":"MISSING-VALUE"}],"container-title":["Growth
        Management in the US"],"deposited":{"date-parts":[[2020,12,20]],"date-time":"2020-12-20T15:32:17Z","timestamp":1608478337000},"score":41.646698,"resource":{"primary":{"URL":"https:\/\/www.taylorfrancis.com\/books\/9781351156950\/chapters\/10.4324\/9781351156967-5"}},"editor":[{"given":"Karina
        M.","family":"Pallagst","sequence":"first","affiliation":[]}],"issued":{"date-parts":[[2017,11,30]]},"references-count":1,"URL":"http:\/\/dx.doi.org\/10.4324\/9781351156967-5","published":{"date-parts":[[2017,11,30]]}},{"indexed":{"date-parts":[[2022,4,5]],"date-time":"2022-04-05T13:13:15Z","timestamp":1649164395704},"reference-count":0,"publisher":"Geological
        Society of America","content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"da[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=type:book&query.bibliographic=%22Open-File%20Report,%20US%20Geological%20Survey,%20,%201972%22&rows=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      -[...]
