---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works/10.1787%2F5jxvk6shpvs4-en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-User-Agent:
      - Faraday/v2.7.11 Serrano/v1.4 (mailto:open.source@ribose.com)
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - polite
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2022,4,3]],"date-time":"2022-04-03T09:22:53Z","timestamp":1648977773320},"reference-count":0,"publisher":"Organisation
        for Economic Co-Operation and Development  (OECD)","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2014,10,10]]},"DOI":"10.1787\/5jxvk6shpvs4-en","type":"report-series","created":{"date-parts":[[2014,10,11]],"date-time":"2014-10-11T04:29:28Z","timestamp":1413001768000},"source":"Crossref","is-referenced-by-count":2,"title":["Investment
        Treaties and Shareholder Claims: Analysis of Treaty Practice"],"prefix":"10.1787","member":"1963","container-title":["OECD
        Working Papers on International Investment"],"original-title":[],"deposited":{"date-parts":[[2021,6,15]],"date-time":"2021-06-15T10:27:27Z","timestamp":1623752847000},"score":1,"resource":{"primary":{"URL":"https:\/\/www.oecd-ilibrary.org\/finance-and-investment\/investment-treaties-and-shareholder-claims_5jxvk6shpvs4-en"}},"subtitle":[],"short-title":[],"issued":{"date-parts":[[2014,10,10]]},"references-count":0,"URL":"http:\/\/dx.doi.org\/10.1787\/5jxvk6shpvs4-en","relation":{},"ISSN":["1815-1957"],"issn-type":[{"value":"1815-1957","type":"electronic"}],"published":{"date-parts":[[2014,10,10]]}}}'
  recorded_at: Sun, 08 Oct 2023 01:21:52 GMT
- request:
    method: get
    uri: https://api.crossref.org/works?filter=type:book-chapter,type:book-part,type:book-section,type:book-track&query=Investment%2BTreaties%2Band%2BShareholder%2BClaims:%2BAnalysis%2Bof%2BTreaty%2BPractice%2B2014%2BOrganisation%2Bfor%2BEconomic%2BCo-Operation%2Band%2BDevelopment%2B%2B(OECD)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":195525,"items":[{"indexed":{"date-parts":[[2023,10,7]],"date-time":"2023-10-07T12:44:06Z","timestamp":1696682646826},"edition-number":"1","reference-count":544,"publisher":"Cambridge
        University Press","isbn-type":[{"value":"9781108658522","type":"electronic"},{"value":"9781108494526","type":"print"},{"value":"9781108714730","type":"print"}],"license":[{"start":{"date-parts":[[2020,9,7]],"date-time":"2020-09-07T00:00:00Z","timestamp":1599436800000},"content-version":"unspecified","delay-in-days":0,"URL":"https:\/\/www.cambridge.org\/core\/terms"}],"content-domain":{"domain":[],"crossmark-restriction":false},"published-print":{"date-parts":[[2020,9,17]]},"DOI":"10.1017\/9781108658522.005","type":"book-chapter","created":{"date-parts":[[2020,9,8]],"date-time":"2020-09-08T04:30:17Z","timestamp":1599539417000},"page":"174-210","source":"Crossref","is-referenced-by-count":0,"title":["Damages
        in Shareholder Treaty Claims"],"prefix":"10.1017","member":"56","reference":[{"key":"9781108658522_BIBe-r-272","first-page":"1207","volume-title":"Liber
        Amicorum Bernardo Cremades","author":"Zuleta","year":"2010"},{"key":"9781108658522_BIBe-r-270","volume-title":"International
        Investment Law for the 21st Century: Essays in Honour of Christoph Schreuer","author":"Zeiler","year":"2009"},{"key":"9781108658522_BIBe-r-264","volume-title":"International
        Law","author":"Wheaton","year":"1866"},{"key":"9781108658522_BIBe-r-262","doi-asserted-by":"publisher","DOI":"10.1093\/icsidreview\/15.2.401"},{"key":"9781108658522_BIBe-r-261","first-page":"95","article-title":"Probl\u00e8mes
        Relatifs aux Contrats Pass\u00e9s entre un Etat et un Particulier","volume":"128","author":"Weil","year":"1961","journal-title":"RCADI"},{"key":"9781108658522_BIBe-r-260","first-page":"227","volume-title":"ICSID
        Convention after 50 Years: Unsettled Issues","author":"Wehland","year":"2017"},{"key":"9781108658522_BIBe-r-258","volume-title":"The
        Coordination of Multiple Proceedings in Investment Treaty Arbitration","author":"Wehland","year":"2013"},{"key":"9781108658522_BIBe-r-257","doi-asserted-by":"publisher","DOI":"10.1093\/icsidreview\/six020"},{"key":"9781108658522_BIBe-r-256","doi-asserted-by":"crossre[...]
